[2014-11-23 17:53] ceortiz opened #11 "dysfunctional text highlight button"
I am able to highlight the text i want to highlight but when I check the flashcards I have made and start reviewing them most of the cards are not highlighted. Please help. I really value your effort in making this addon. i've gone to this extent of writing to you because i know this feature of highlighting text is really indispensable. your response would be greatly appreciated. Thanks in advance

[2015-02-17 20:17] Neftas commented on #11
Highlighting text now works confirmed on Linux and Mac OS X. Don't know about Windows, can anyone tell me?

[2015-02-18 23:18] rjgoif opened #23 "nested lists not "nesting" correctly"
(_HTML line breaks added for ease of reading_)
if I start with a ordered list:

[code]

and I select each line and press `Ctrl+Shift+C` on each line, I correctly end up with:

[code]

However, this breaks down when I try nested lists. From the above, I try to make a nested list by pressing `Enter` after line 1, then indenting with `Ctrl+Shift+]`. I make my list items and end up with:

[code]

What

[2015-02-19 07:33] Neftas commented on #23
Hey @rjgoif, thanks for taking the time to report this behavior.

Am I correct that you want to cloze-delete an entire list? As in, selecting a sublist of multiple elements and then press the cloze-delete button? If so, could you provide an example of current and desired behavior? If that is not what you meant, can you expand a little on the issue?

As it stands, I don't believe that truly nested

[2015-02-19 19:01] rjgoif commented on #23
What I would like to happen is:

    <ol>
        <li>{{c1::item 1
            <ol>
                <li>sub a</li>
                <li>sub b</li>
                <li>sub c</li>
            </ol>}}
        </li>
        <li>{{c2::item 2}}</li>
        <li>{{c3::item 3}}</li>
    </ol>

I looked into this further and found that the issue is with BeautifulSoup, which is set by default to not allow an

[2015-02-20 08:36] Neftas commented on #23
Nice catch! Is it possible for you to post the code of your add-on on GitHub so I can take a look? By the way, you link to the general add-on page, not to your add-on specifically.

The lists are created in JavaScript. Anki and the Power format pack use some standard web API functions that you'll find [across the internet](https://developer.mozilla.org/en-US/docs/Web/API/document.execCommand).

JS

[2015-02-20 10:20] Neftas opened #24 "Text wrapped in angle brackets disappears when selecting table"

[2015-02-20 22:59] rjgoif commented on #23
I can write entire code in this comment, as it's very, very simple.

    import BeautifulSoup
    new_NESTABLE_LIST_TAGS = { 'ol' : ['li'],
    						'ul' : ['li'],
    						'li' : ['ol', 'ul', 'dl'],
    						'dl' : ['li'],
    						'dd' : ['ul', 'ol', 'dl'],
    						'dt' : ['ul', 'ol', 'dl'] }

    BeautifulSoup.BeautifulSoup.NESTABLE_LIST_TAGS = new_NESTABLE_LIST_TAGS

[2015-02-22 08:46] Neftas opened #25 "Refactor preferences"
Currently, when updating the add-on, the user needs to manually delete the old preference file from the Documents folder when a new formatting button is added by the update. This shouldn't be necessary.

[2015-02-23 09:42] Neftas opened #26 "Button for align text center is the same as for the cloze deletion key"
They both are <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Alt</kbd>+<kbd>C</kbd>

[2015-02-24 08:39] Neftas commented on #25
Fixed in 48b5d43d64c86c24569397baad33aef32300eea0

[2015-02-24 09:22] Neftas commented on #24
Fixed in 52fe9a148bfb2fe2f94a6d821290a3ddaa16f83a

[2015-02-24 09:32] Neftas commented on #26
Fixed in dce8e800f514836fbf29eccf297774fa8a185bb4

[2015-02-24 09:33] #26 closed

[2015-02-24 09:33] #25 closed

[2015-02-24 09:33] #24 closed

[2015-03-12 11:33] DrLulz opened #30 "Ordered List Type"
This is not a bug or issue.

Is there a way to designate the type of ordered list?

e.g. 1, i, a, A, I

[2015-03-12 20:34] Neftas commented on #30
Hi @DrLulz, good idea! I'll try to implement it for the v0.6 release.

[2015-04-03 14:02] aweall opened #31 "Get an error when I try to Highlight."
[code]
running anki-2.0.32  on mac os x 10.10.2

[2015-04-10 05:23] Neftas commented on #31
Thanks for taking the time to report this behavior.

From the looks of things it seems that Anki strips the `style` attribute from the `font` tags, thus removing the highlighting and giving this error. This only happens on Windows and Mac machines, so on Linux everything works fine. [Related bug](https://github.com/Neftas/supplementary-buttons-anki/issues/11)

[2015-05-20 10:59] Neftas opened #32 "Abbreviations with the <abbr> tag"

[2015-05-22 14:28] Neftas commented on #30
Added in 43286080748cde7d7a09f9bb47837a78c8bb4097

[2015-05-22 14:28] Neftas commented on #32
Added 43286080748cde7d7a09f9bb47837a78c8bb4097

[2015-05-22 14:28] #32 closed

[2015-05-22 14:31] Neftas commented on #31
Disabled text highlighting 43286080748cde7d7a09f9bb47837a78c8bb4097 on all platforms except Linux, where it works like it should. Anki strips out highlighting from the HTML on Mac OS and Windows.

[2015-05-22 14:35] Neftas commented on #11
Removed highlighting again on everything that isn't Linux 43286080748cde7d7a09f9bb47837a78c8bb4097 and won't add it again.

[2015-05-22 14:35] #11 closed

[2015-05-22 14:38] #31 closed

[2015-05-23 16:32] GuitarTab opened #34 "Text Highlighting disappeared"
With the update of 2015-05-23, the text highlighting button has disappeared, the keyboard shortcut doesn't work either. (OSX Yosemite, latest Anki version)

[2015-05-23 16:49] Neftas commented on #34
Yes, this is intentional. I'm getting a lot of bug reports from people saying that text highlighting doesn't work for them (in fact, it crashes the addon for them). Text highlighting was and is still available for users on Linux, where it works like a charm.

Why have I deleted this functionality? Unfortunately, Anki strips away the text highlighting tags on Windows and Max OS X, and there isn't a

[2015-05-23 20:03] GuitarTab commented on #34
Thanks very much for replying!

I do, in fact, assert that highlighting worked absolutely perfectly on my Mac.

I'm not a coder or programmer, but I could certainly uncomment some lines of code. So maybe you put the highlighting back in as a comment and tell those of us interested the filename and line numbers ...

Alternatively, I could create a text replacement keyboard shortcut (TextExpander or

[2015-05-24 09:38] Neftas commented on #34
Yes, I tested it on a Mac when I implemented it, of course, and the workaround seemed to work correctly. But the bug reports seemed to imply otherwise, so... Apparently, I need to come up with something different only for Windows, so that's good news :)

Here is what I'll do: I'll re-enable the highlighting for Mac, run a few test to see if everything works like it should when I can get my hands o

[2015-05-26 20:17] Neftas commented on #34
Enabled text highlighting for all platforms per faa9e2c672fa8177d2968569df9dab32e5b3a8a9.

Finally found a way around it, so I hope this solves the issue once and for all.

[2015-05-26 20:19] Neftas commented on #31
Fixed in faa9e2c672fa8177d2968569df9dab32e5b3a8a9.

Please re-install the addon.

[2015-05-27 04:16] GuitarTab commented on #34
Feedback: Text highlighting works indeed fine again on my Mac, cheers!

For me, text highlighting, clickable hyperlink creation, and lists are the most often use functions, and by a long chalk.

In future, I'll always make a backup before updating Anki add-ons ... ;)

[2015-05-27 07:51] Neftas commented on #34
Haha, well, I normally do not delete functionality, only try to enhance it :)

I'm glad everything works, and please let me know if you find any bugs, or think of any improvements!

[2015-05-27 07:55] Neftas commented on #11
Fixed in faa9e2c672fa8177d2968569df9dab32e5b3a8a9.

[2015-05-30 02:15] eulerreich opened #36 "Ctrl+H for history not working properly when addon is running"
In the add window, the correct behavior for ctrl+h is that a list of previous cards popup where the "history" button is on the lower right. The behavior of ctrl+h with this addon is that you have to press ctrl+h several times for the add window to focus on the "history" button and then one more time for the history window to pop up.

[2015-05-30 02:35] eulerreich commented on #36
I see in your code that ctrl+h was assigned to horizontal rule. I fixed it by changing the binding in the code, but I would still suggest changing it since it conflicts with Anki's native binding for history.

[2015-05-30 11:16] Neftas commented on #36
Thanks for reporting this issue. It is indeed conflicting, and I will change the shortcut key. If you notice other conflicts, please report them here, even if you can figure out how to change it in the source code. That will make the addon better for everyone else as well :)

[2015-05-30 11:17] #30 closed

[2015-05-30 11:18] #34 closed

[2015-05-30 11:47] Neftas commented on #36
Fixed in 78686009633cd54cddbbc9c5f8cc15b1c90dcc39.

[2015-07-24 03:45] trehehaeuser opened #37 "Blockquote with cite"
Hello, I want to insert the cite-tag into a blockquote. How can I do this? Best regards Tom

[2015-07-24 17:21] Neftas commented on #37
Can you give an example of desired behavior?

[2015-07-24 17:22] #36 closed

[2015-07-28 23:58] AgarwalPragy opened #38 "A separate line of toolbar (enhancement)"
This addon adds a ton of shortcuts to the add window, all next to the original shortcuts. This makes it impossible to work with if the add window is not full screen(or appropriately sized).
It will be nice to have a wrap feature that automatically moves buttons to next line if the window is not wide enough.
![image](https://cloud.githubusercontent.com/assets/7423639/8946913/93335c5e-35b2-11e5-9d73

[2015-07-30 17:08] Neftas commented on #38
Thanks for taking the time to request a new feature. I will look into it when I find some time.

[2015-08-03 20:36] lizzgilmore opened #39 "Separate shortcuts for multiple font colors"
Love this add-on, and I have an enhancement suggestion (if you have time!):
I use multiple font colors when building my cards, and it would be helpful if you could add a second foreground color option, mapped to another keystroke. That way, I could have F7 turn the selected text green and F8 turn the selected text pink, for instance.

[2015-08-05 22:43] allenm518 opened #40 "Ordered lists not working correctly"
Hello, in trying to create ordered lists, the nests do not occur correctly:
If it start with 1. and try and indent the next line to get A., I only get 1.
If I start with A. and indent the next line, I get 1. but then next indentation is also 1.

If I try to change an indent style with the ordered list button, it changes the whole list to what I have selected and removes all the indents.

Is this n

[2015-08-08 07:02] Neftas commented on #40
Thanks for taking the time to report this.

I have investigated the issue. First, to have an ordered list like:

    A.
        A.
            I.

or whatever, indent the second (and third etc.) level of your list **two times**, then press the `Create ordered list` button again and select your ordered list of choice.

I am not sure I understand your second issue. The `Create ordered list` is a tog

[2015-08-08 07:24] Neftas commented on #39
Thanks for going through the effort of making a feature request.

When I first started using Anki, I also wanted this feature (but I have since stopped using colors in my cards, so it had no priority :). I'll research this feature further when I have some time, but it certainly seems possible to implement it.

[2015-08-08 09:24] trehehaeuser commented on #37
An example in HTML:
<blockquote>
 <p>I contend that we are both atheists. I just believe in one fewer
 god than you do. When you understand why you dismiss all the other
 possible gods, you will understand why I dismiss yours.</p><cite>Stephen Roberts</cite>
 </blockquote>

Thanks for your efforts!

[2015-08-13 14:02] glutanimate opened #41 "Option to assign custom keyboard shortcuts"
First of all, thanks a lot for developing this add-on. It has made working with Anki much more streamlined for me.

One thing that keeps bothering me, though, is the choice of keyboard shortcuts. As I am not using a US QWERTY layout, hitting combinations like 'Ctrl + Shift + [' requires quite a lot of finger acrobatics:

![](https://i.stack.imgur.com/HsJsk.png)

With that in mind it would be fanta

[2015-09-02 05:13] Neftas commented on #41
Hi @Glutanimate, thanks for taking the time to open this issue. I will take a look at this issue as soon as I will have some time for it, I have been quite busy with my job and life :). If you feel this is something that you can implement yourself, don't hesitate to create a pull request.

[2015-09-02 16:44] Glutanimate commented on #41
Thanks for the reply, @Neftas. I absolutely understand.

[2015-09-08 13:04] Juddd opened #42 "How to get out of a <code> or <pre> tag?"
(sorry my poor English.)I can use the button of "create a code block" or "code format text" to write my code,but,,,,How can I stop the status to write the normal font??It confuse me long time.Help me,please.

[2015-09-10 04:42] Neftas commented on #42
Hi there! When you create a code block at the end of your text, you can't actually exit it, unless you edit the HTML directly. This is unforunately different from making text bold, where you can just press the button a second time and you are back in normal mode, and is more like text coloring: once you activated it at the end of your text, it will keep coloring everything you enter. As a workarou

[2015-09-20 21:19] TimothyBramlett opened #43 ""Code format text" button shortcut conflicting with Anki's own shortcuts on OS X."
First off, fantastic add on!  I love it!

I am having one problem on OS X though or maybe I am just doing something completely wrong.  The shortcut key to insert code formatted text is supposed to be command + , on OSX but when I hit that key combo it actually brings up Anki's preferences menu! :)

Is there some way to get it mapped to a new key combo?

[2015-09-22 19:57] Neftas commented on #43
Hey @TimothyBramlett, thanks for the kind words!

And good catch, you're absolutely right that this shortcut conflicts with the shortcut that Apple reserves for preference menus. If I changed all shortcuts for the Mac to use the <kbd>Ctrl</kbd> button instead of <kbd>Cmd</kbd> (just like on Linux and Windows), would that help? (I don't own a Mac, so if you could see if this somehow would conflict

[2015-09-22 20:45] TimothyBramlett commented on #43
@Neftas That might work.  Let me mess around with my Mac tonight and see if there would be any issues in doing that!  I will get back with you! :)

[2015-09-23 02:42] TimothyBramlett commented on #43
@Neftas I tried pressing control + , in Anki and it seems to actually insert a 1/4 symbol into the field.  So I assume some feature is mapped to that shortcut combo.

[2015-09-23 08:04] Neftas commented on #43
Great, thanks for testing!

I'll tell you what I'll do. I'll get my hands on a Mac and see what shortcuts are not yet taken, and propose a couple of them here. Might be a couple of days, but I'll get back to you!

[2015-09-23 11:29] TimothyBramlett commented on #43
@Neftas, perfect!  Maybe you can map it to ```command``` + ```shift``` + ```,```.  Playing around with that just now in Anki and there doesn't seem to be any thing mapped to that key combination that I could detect.

[2015-09-24 19:29] sursh commented on #43
:100:  was about to open this issue. And :100:  `command+shift+,` would work fine.

[2015-09-25 16:24] TimothyBramlett commented on #43
@sursh :)

[2015-09-29 19:25] Neftas commented on #41
I added user-defined keyboard bindings (c0956c04894cce23296171a1522b184ea9be2277). Please update the addon.

[2015-09-29 19:26] Neftas commented on #43
I've added user-defined keyboard bindings, so you can now change the keyboard bindings yourself if you find that the default ones do not work (c0956c04894cce23296171a1522b184ea9be2277). Please update the addon.

[2015-09-29 19:28] Neftas commented on #37
I've added the functionality you requested (c0956c04894cce23296171a1522b184ea9be2277). You can now add an author to the blockquote. To do so, put the author's name between brackets:

    This is a quote. [[Nobody]]

Please update the addon from the Anki addon site.

[2015-09-29 20:26] Glutanimate commented on #41
Awesome! Working well here so far.

My only remaining request would be to add support for Unicode characters, if possible. Without a QWERTY keyboard layout the shortcut choices can become very limited, especially given how many combinations are already taken up by system shortcuts and default Anki bindings.

[2015-09-30 12:18] Juddd commented on #42
@Neftas So would you like to help us develop this feature as making text bold?Even the text background-coloring?I think it is very practical and I look forward to that much too.

[2015-10-01 05:17] Neftas commented on #42
You are right that by using the format-removal button you are also removing inline elements and need to reapply the inline styling. You can use the HTML editor and remove the tag by hand if you don't want to restyle. You can remove the background color by selecting the default background color from the popup. I will investigate what can be done, but I won't make any promises, and it might take a w

[2015-10-01 17:53] Neftas commented on #41
I will look into it when I get a chance :)

[2015-10-03 07:26] Neftas opened #46 "Implement Markdown support"

[2015-10-08 14:07] sursh commented on #43
Thanks @Neftas !

[2015-10-08 14:09] sursh opened #47 "Newlines discarded when formatting multiple lines"
I've noticed that if I write out code that spans multiple lines, like this:

%load_ex autoreload
%autoreload 2

And then I select those two lines and hit the "Code format text" button, it gets formatted without the newline, like this:

`%load_ex autoreload %autoreload 2`

[2015-10-08 17:50] Neftas commented on #47
You probably want to use the _Create a code block_ button. The _Code format text_ button wraps the text in `<code>` tags. Since block elements cannot exist inside inline elements in HTML, the block disappears. The _Create a code block_ button, on the other hand, wraps the text in `<pre>` tags, thus preserving the whitespace (it is itself a block elements, so no conflict).

I am currently working o

[2015-10-09 03:59] sursh commented on #47
Ooooh! Very excited to hear about the markdown implementation, as that is
already muscle memory for me. Thanks so much for this great extension!

On Thu, Oct 8, 2015 at 1:50 PM, Stefan van den Akker <
notifications@github.com> wrote:

--
-Sasha

[2015-10-17 20:19] pschroeter opened #48 "I'm not sure how to get <code> or <pre> blocks to work"
I was hoping I could use this add on to apply multiple formats to selected text with the click of a button. I use the Extras field in my cloze cards to write extra non-essential information to myself in three different font sizes in italics. I thought I could use your add-on to link to one of the classes I added to the Styling section of Card Types. All I have been able to get these button to do i

[2015-10-18 11:59] Neftas commented on #48
Hi @pschroeter!

Thanks for using the add-on and taking the time to open this issue.

The `<code>` tag in HTML is meant to be used to represent pieces of computer code, i.e. pieces of a programming syntax. I wouldn't recommend to use it for anything else. You might use it on a card like this, for example:

The thing with using the `<code>` tag for anything else is that, as you have noticed, it doe

[2015-10-27 07:00] iyoossaev opened #49 "Applying font changes to tables?"
Hi,

I was wondering: is there a way to apply any font size to the table? It does ignore the field font size defined in style (so Arial 8 = Arial 14, no difference whatsoever), and all my attempts to put the table within a code block with specified font size failed. The table is just too big for my intenden purpose :(

Thanks in advance,
Mirosław

[2015-10-27 19:35] gistgist opened #50 "Custom Study Sessions"
In night mode it's very difficult to read "special" decks or annoucements (i.e. custom study sessions or the message anki gives about too many decks).
Is there a way to change the color of this text (either via Anki settings or night mode)?

Image attached, see deck titles on lefthand side
<img width="507" alt="screen shot 2015-10-27 at 2 33 54 pm" src="https://cloud.githubusercontent.com/assets/1

[2015-10-27 20:31] Neftas commented on #50
I'm sorry, is this related to Supplementary Buttons for Anki? I would advise you to contact the maintainer of the the addon that brings you night mode, as I can do very little to change an addon I didn't create.

[2015-10-28 03:26] gistgist commented on #50
Oops yes, posted to wrong group. Thanks

[2015-10-28 03:26] #50 closed

[2015-10-29 20:36] TimothyBramlett commented on #43
Thanks!

[2015-11-07 16:35] nodler23 opened #51 "Can abbreviations be made to be "remembered" by Anki?"
Just like the title says, I think the abbreviation tool is awesome, and could be made even better if Anki could remember what my abbreviations were across different cards. When studying things like proteins and genes with lots of random abbreviations, it would be nice to be able to see what each abbreviation stands for whenever the abbreviation is used across all cards instead of having to retype

[2015-11-08 10:19] Neftas commented on #51
Hi, @nodler23, good idea!

I am currently still working on finishing Markdown, but I might implement this somewhere in the future.

[2015-11-08 16:11] nodler23 commented on #51
Thanks for the response, I appreciate it!

[2015-12-04 10:10] rdiaz02 opened #52 "hyperlink not working for "file:///""
I think creating a hyperlink does not do what we would expect if the "Link to" is
`file:///some_path`

What would I expect? That this is, for instance, dealt with in a Linux system using xdg-open (so that the file is opened by whatever program you have configured). For example
`file:///tmp/some.pdf`
would fire up whatever I have configured to open PDFs.

(But then, maybe this is not what hyperlink

[2015-12-10 05:30] Neftas commented on #46
Implemented in a7b6da7.

[2015-12-10 05:30] #46 closed

[2015-12-10 05:31] #43 closed

[2015-12-10 05:31] #37 closed

[2015-12-10 05:33] #47 closed

[2015-12-10 05:33] Neftas commented on #47
Markdown is now implemented, you can download the addon from Ankiweb :)

[2015-12-10 05:37] Neftas commented on #52
Good catch. I've implemented a rather naive version, where it assumes that all hyperlinks use the HTTP protocol. I will take a look at what can be done.

[2015-12-10 05:38] Neftas commented on #48
Markdown is implemented in version 0.8 of the addon. You can download it from Ankiweb. So now you can use the syntax I described above.

[2015-12-10 18:06] yarinkel opened #53 "Input `sequence` not in Unicode error"
Getting this error with the 10 December 2015 release.
Anki Version 2.0.33
Qt 4.8.2 PyQt 4.9.4
OSX 10.11.2
I tried to delete and reinstall the plug-in but I get the same error

An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "aqt/addons.pyc", line 41, in loadAddons
  File "/Users/yann/Document

[2015-12-10 20:16] Neftas commented on #53
Hi @yarinkel, thanks for reporting this.

I couldn't really reproduce the error you have, but have made sure that all the handling of key sequences is now guaranteed to be Unicode. You can update the addon on Ankiweb.

(Did you by any change put non-Latin characters in your key-bindings file? That would probably explain the exception you got.)

[2015-12-10 20:45] yarinkel commented on #53
Hi @Neftas,
thanks for taking care so quickly of this. With the new version, the error has changed to:

An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "aqt/addons.pyc", line 41, in loadAddons
  File "/Users/yann/Documents/Anki/addons/Supplementary Buttons Anki.py", line 2, in <module>
  File

[2015-12-10 21:12] Neftas commented on #53
Okay, I tried to solve that too quickly. Thanks for providing additional details. I have uploaded a revised version to Ankiweb. If this does not solve the problem, I will take a closer look at it tomorrow. It may have something to do with a Mac. If the new version works, I would be glad if you could report back here.

[2015-12-10 21:14] yarinkel commented on #53
I just changed the line in the file preferences.py
from
`with codec.open(self.prefs_path, "w", encoding="utf8") as f:`
to
`with codecs.open(self.prefs_path, "w", encoding="utf8") as f:`

and it's working now. Thanks a lot!

[2015-12-10 21:18] yarinkel commented on #53
Oh, we crossed path! :)
Anyway, I deleted the plugin with that modification I made and reinstalled your latest version (as from 22:16 CET time.)
I'm glad to report it's working fine now!

Thanks a lot!

[2015-12-10 21:21] Neftas commented on #53
Awesome! I indeed made a typo, I'm ashamed to admit. But am I glad it works now, and a big thank you to you for reporting this and making this addon better for everybody. If you find something else, please keep reporting it!

[2015-12-10 21:27] yarinkel commented on #53
My pleasure! It's me who owe you a big thank for making this awesome plugin. I use it almost daily and would not even dream of formatting numerous dictionary definitions without it!

[2015-12-10 21:27] #53 closed

[2015-12-18 01:46] rdiaz02 commented on #52
The reason is in function `insert_anchor` in Hyperlink.py. The `http`is added by force.

[2015-12-18 02:04] rdiaz02 commented on #52
I've played defining a new buttom and shortcut, which I called hyperlink2, that just adds any text, so any URI, in a `<a href=` without prepending the `http://`. I've just sent a pull request.

[2015-12-21 18:36] MikeLeonard opened #55 "How to set up Code Syntax Highlighting?"
Sorry not an issue with the code exactly... but I'm having trouble getting the syntax highlighting to work and would really appreciate a bit of help as I'd like to use Anki improve my programming skills.

I'm new to Python but have installed 'Pygments' using 'conda install Pygments'. I've set my $PYTHONPATH variable to the /bin/python inside my anaconda directory.

On http://pygments.org/ I can se

[2015-12-21 18:49] Neftas commented on #55
Hi @MikeLeonard, the syntax you're referring to is part of the Markdown package. So indent your code four spaces, use three colons to indicate the language and toggle the Markdown button.
Something like this will work and color the syntax:

    :::python
    class C(object):
        def __init__(self):
            pass

[2015-12-21 18:55] Neftas commented on #52
@rdiaz02 awesome that you actually took the time to make a pull request.

However, I don't think adding an extra button is a good idea for this functionality (there are too much buttons already). You are correct in stating that I hard-coded the `http://`-prefix when using the hyperlink button. So, I think a fair approach would be to just delete that part of the code, and let users themselves decid

[2015-12-21 20:15] Neftas commented on #52
Fixed in 14913d0feb3bb1d6af75b5b5b7c7d57596736534. You can update from AnkiWeb.

[2015-12-23 10:26] rdiaz02 commented on #52
Great, thanks. I just checked, and it works perfectly.

(Yes, you are right, the new extra button was an overkill but I also did not want to remove the `http://` prefix as it might have been there for a reason I did not know).

I am closing the issue.

[2015-12-23 10:27] #52 closed

[2016-01-04 05:31] dsia opened #56 "How to get rid of space before lists?"
Hi,
Love the add-on especially the indent and list. However, is there a way to get rid of the line space before a lists starts? That would make the list much tighter.

Thanks for helping

[2016-01-04 10:23] dsia opened #57 "Issue: Jumps to end of card whenever switch focus"
Hi,
Just wanted to submit another issue I'm having with this add-on.
I noticed that since installing this add-on, whenever I switch focus to another window (eg. word document, preview) and focus back onto ANKI's browser editing window, the typing cursor  jumps to the end of the card. This is an annoying thing when trying to edit the document.
Hope this will be fixed soon. Cheers

[2016-01-05 02:05] QuixoticBuddha opened #58 "Error Opening Add Card Dialog"
This is the error text.
An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\cygwin\home\dae\win\build\pyi.win32\anki\outPYZ1.pyz/aqt.webview", line 18, in run
  File "C:\cygwin\home\dae\win\build\pyi.win32\anki\outPYZ1.pyz/aqt.editor", line 481, in bridge
  File "C:\cygwin\home\dae\win\build\

[2016-01-05 06:31] Neftas commented on #58
Thanks for reporting.

Could you be a little more specific on what you were trying to do? The stack trace doesn't give much information. What was the text you were entering? Was it empty by any chance?

[2016-01-05 06:36] Neftas commented on #57
After a quick check, I cannot seem reproduce this behavior. Could you specify what you exactly were trying to do, what exact Anki screen you were on, what OS you use, what other addons you have installed with Anki?

[2016-01-05 06:39] Neftas commented on #56
Yes, you could probably use CSS to change how your lists look. Use the style sheet of your cards and specify the desired behavior.

[2016-01-05 07:30] dsia commented on #57
Thank you for replying.
I did have hierarchical tags add on installed but I've tried uninstalling that, deleting the folder from the add-on folder, reinstalling supplementary buttons, same thing.

I run Mac OSX El Capitan 10.11.1.
I've included 2 screenshots, can't show the mouse but here's what I'm doing:
1) In the 1st image, my safari is in focus. I've got my anki card open, and it's not fully d

[2016-01-06 06:28] Neftas commented on #57
Thanks for being detailed about the problem. I can reproduce this on a Mac. It looks like the `onfocus` is forcing the cursor to the end. I will investigate further and see what can be done about this.

[2016-01-06 07:28] Neftas commented on #58
I just uploaded version 0.8.3 to Anki. Could you check if this fixes your problem?

[2016-01-06 15:32] tom-newhall opened #59 "Error on Installation: "unindent does not match any outer indentation level""
Hi after I installed this plug in, I got the following error when I re-opened anki:

"""
An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "aqt/addons.pyc", line 41, in loadAddons
  File "/Users/Tommy/Documents/Anki/addons/Supplementary Buttons Anki.py", line 2, in <module>
  File "/Users/Tommy

[2016-01-06 19:11] Neftas commented on #59
Hi @tom-newhall, thanks for reporting this!

This was a bug, which should be solved now in 75cba11. You can download and reinstall the latest version from AnkiWeb.

[2016-01-07 05:21] #40 closed

[2016-01-07 06:18] tom-newhall commented on #59
Excellent! It works beautifully!
I do have two feature-request type questions though...
First of all... I mainly downloaded this extension so I could have a simple way to make tables in Anki. I noticed that when making a table, it automatically formats them with a nice blue line etc., but I'd really like to just have a plain table, and then do the formatting myself with CSS in the cards. I opened

[2016-01-07 18:56] Neftas commented on #59
As to point of formatting the table to your liking: I would suggest using Markdown to build your tables. You will get a "bare-bone" table that you can style with CSS, and the table will be more flexible as well, because you can easily edit the Markdown and update your table.

As to your second point: [somebody already a feature request for this exact enhancement](https://github.com/Neftas/suppleme

[2016-01-07 19:03] Neftas commented on #49
If the table button doesn't do what you want it to, I can recommend using Markdown to build your table. You will get a "bare-bone" table that you can style to your liking with CSS. Using Markdown will also make sure the table can be changed at any time, because you can easily switch between Markdown and the HTML representation. Let me know if that helps you.

[2016-01-08 19:45] uitalo commented on #59
Hi, I have this error:
"Um erro ocorreu em um complemento.
Por favor, publique isto no fórum do complemento:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\anki\build\anki2\out00-PYZ.pyz\aqt.addons", line 41, in loadAddons
  File "C:\Users\cassio\Documents\Anki\addons\Supplementary Buttons Anki.py", line 2, in <module>
    import extra_buttons.extra_b

[2016-01-09 03:03] tom-newhall commented on #59
Neftas,

Thanks for your response. I had tried getting tables in markdown working, but had trouble with it. I was able to get a table made with the following formatting:
[code]

However, when I deleted the `-|-` on the second line, it did not render as a table. Once again, it's a minor issue, but I'd prefer not to have to add `-|-` after the first line. Ideally, I'd like something like this:
[code

[2016-01-09 07:07] MuggleYeung opened #60 "Error on Windows when username contains non-ASCII characters"
Hi, after I installed this plug in, I got the following error when I re-opened anki:
-------------------------
An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\cygwin\home\dae\win\build\pyi.win32\anki\outPYZ1.pyz/aqt.addons", line 41, in loadAddons
  File "c:\pyi\iu.py", line 436, in impor

[2016-01-09 14:07] Neftas commented on #59
Hi @tom-newhall,

The Markdown syntax is different from the syntax I used for the table button. For Markdown to work, the second line is mandatory. You can look the syntax for Markdown up on the internet.

[2016-01-09 14:08] Neftas commented on #59
@uitalo could you please open a separate bug report? And please specify what you were trying to do, what happened, and other details that might be important.

[2016-01-09 15:08] uitalo opened #61 "Error after installing Power Format Pack"
Hi,

Hi, after I installed this plug in,
I got the following error when I re-opened anki:
"Um erro ocorreu em um complemento.
Por favor, publique isto no fórum do complemento:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\anki\build\anki2\out00-PYZ.pyz\aqt.addons", line 41, in loadAddons
  File "C:\Users\cassio\Documents\Anki\addons\Supplementary But

[2016-01-09 19:47] Neftas commented on #60
From the error you posted it looks like you have a username (`C:\Users\<your_name>`) that is not properly understood because of your system's encoding. Windows unfortunately has these kind of problems where non-ASCII paths tend to cause errors. So as not to force you to create another user or changing OSes (I recommend Linux ;-), I have made a change to the code and posted it on AnkiWeb. Could you

[2016-01-09 20:57] Neftas commented on #61
Hi @uitalo, thanks for reporting.

I have uploaded a new version to AnkiWeb. Could you reinstall the addon (remove the folder from <User>/Documents/Anki/addons as well just to be safe) and report if it works now? Thanks!

[2016-01-09 21:05] Neftas commented on #42
You can now use Markdown to format your code blocks.

[2016-01-09 21:05] #42 closed

[2016-01-09 21:06] #48 closed

[2016-01-10 00:11] uitalo commented on #61
still does not work:Um erro ocorreu em um complemento.
Por favor, publique isto no fórum do complemento:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\anki\build\anki2\out00-PYZ.pyz\aqt.addons", line 41, in loadAddons
  File "C:\Users\cassio\Documents\Anki\addons\Supplementary Buttons Anki.py", line 2, in <module>
    import extra_buttons.extra_butto

[2016-01-10 12:58] Neftas commented on #61
This is a strange error. I have checked the addon on Windows 7, Windows 8.1 and Windows 10, and I do not get the error you are getting. Seeing the path you are launching Anki from, I suspect that you got a custom installation of Anki somewhere not from the Anki site? I would recommend you reinstall Anki and use only the default installation provided by the [official Anki website](http://ankisrs.ne

[2016-01-10 14:20] uitalo commented on #61
Well, my solution was to move the Anki folder in My Documents and reinstall the plugin, then worked. I think there should be a conflict between plugins.

[2016-01-10 14:34] Neftas commented on #61
Great. Still, to ensure the proper working of all add-ons, I would recommend using the default paths. Anyway, I am glad you got it working. Closing this.

[2016-01-10 14:34] #61 closed

[2016-01-12 23:32] AGBrown opened #62 "Highlight words or inline sections within markdown"
Is it possible to highlight one or more words within a markdown formatted field?

I know with markdown itself we can do `**strong**`, but can we make one or more words within a paragraph bold, and also with a given highlight color?

I guess this could be possible with an [inline pattern](https://pythonhosted.org/Markdown/extensions/api.html#inlinepatterns) which generated a span with a custom clas

[2016-01-12 23:38] AGBrown commented on #62
Ah, I just found out that with a little fiddling I can define a css class (say `answer`) and do:

```This is a **test of highlighted**{ .answer } inline words```

Is this the best way to do what I want?

[2016-01-13 01:06] skotzko commented on #62
@AGBrown yep, Pygments (the highlighting engine here IIRC) can process inline HTML. That means you can write little `span`s where needed (and use something like TextExpander if its common/repeated).

For example, I just tried this in a card and it worked:

[code]

resulted in this output:

![screen shot 2016-01-12 at 5 05 45 pm](https://cloud.githubusercontent.com/assets/311226/12281889/beb5b6e0-b

[2016-01-13 01:08] skotzko commented on #57
@Neftas I also noticed that the cursor jumps to the end whenever I hit the `Code format text` button. It formats the highlighted text as code, then the cursor jumps to the end of the card.

[2016-01-13 01:14] skotzko commented on #55
@Neftas is there a way to change the CSS applied when using the Markdown code highlighting? It's working fine for me, but having a hard time seeing what classes are being applied to the code by Pygments.

[2016-01-13 06:52] AGBrown commented on #62
Thanks. Is it possible to define an [inline pattern](https://pythonhosted.org/Markdown/extensions/api.html#inlinepatterns) within this plugin (I'm guessing that will do what I want)? I'm lazy and like to reduce keystrokes (which I guess is why I like markdown).

[2016-01-13 09:48] CoffeeDrinkRabbit commented on #60
hi！The error still exist。。。。

[2016-01-13 09:51] CoffeeDrinkRabbit commented on #60
I really like your add but how can I deal with the problem。

[2016-01-13 13:58] MuggleYeung commented on #60
Hi, @Neftas

Thank you so much for helping me fix the error.

I’ve tried to reinstall the plug in (according to your steps -- delete the extra_buttons folder in your Documents\Anki\addons folder as well), but the error still exists.

-----Here's the error log-----

An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons
Traceback (most recent

[2016-01-13 17:39] AGBrown opened #63 "Markdown mode - &#32; appears instead of space in code block"
If I enter the following into a card's field <sup>†</sup>

<pre>blah

[code]
 </pre>

then when I click the markdown button, it gets turned into the expected formatted code, with the exception of the `(f: => R)` section which looks like the image at the bottom. That image is the same as the card when it is then viewed in preview mode.

If I remove markdown mode it then asks me to Cancel/Replace/Ov

[2016-01-13 20:38] Neftas commented on #63
Yes, this is done because the syntax `[text](text)` is a link in Markdown, and spaces in the part between the parentheses would otherwise break images in Anki when Markdown is toggled. Obviously this is not what you would want here. I will take a look at it.

[2016-01-14 05:24] Neftas commented on #62
I would use the `this **is**{ .className } text` syntax myself. But of course you can define your own custom classes, if you're willing to dive in and change some code in the addon yourself.

[2016-01-14 15:35] AGBrown commented on #62
I had a quick look at [markdown/inlinepatterns.py](https://github.com/Neftas/supplementary-buttons-anki/blob/master/extra_buttons/markdown/inlinepatterns.py). I think that's where it would happen. I guess the idea would be to define patterns by a simple regex in a config file that people could edit.

If I have time I'll try and do a PR for it, but for the moment I'm sticking with `**text**{.myClas

[2016-01-14 15:35] #62 closed

[2016-01-17 15:15] Neftas commented on #55
@skotzko you mean the code between single backticks? It has not got any CSS class associated with it and I don't think it's getting rendered by pygments, it is just the basic rendering of `<code>` elements by QtWebKit. I use the following to style these elements:

    code:not([id='typeans']) {
        color: #268bd2;
        background-color: #eee8d5;
        padding-left: 5px;
        padding-ri

[2016-01-17 15:21] Neftas commented on #57
@skotzko this is unfortunately a byproduct of the onfocus that needs to be done to save the card after a style change has taken place. It is what Anki itself does when you open the HTML edit dialog for example, and I have not been able to change it. In fact, the issue @dsia describes is caused by the same thing: the card gets reloaded when checking if Markdown has been applied to it, and the curso

[2016-01-17 21:34] AGBrown opened #64 "Markdown mode - `:\` renders as `:\\`"
Entering

<pre>`:\`</pre>

or a code block with `:\` in it renders as

<pre>:\\</pre>

Switching out of markdown mode replaces the original markdown with

<pre>`:\\`</pre>

Amusingly switching in and out of markdown mode then causes the `\`s to multiply like rabbits.

[2016-01-19 21:22] skotzko commented on #55
@Neftas ah, perfect. I wasn't sure what the right selector was. All set now, thank you!

[2016-01-21 17:52] AGBrown opened #65 "List button indents last item"
Repro steps: I create a list of three items, with an italic word in the last item. I press <kbd>Ctrl</kbd> + <kbd>]</kbd>, and select the default list type. It creates the html (line breaks added for convenience):

<pre>&lt;ol>
&lt;li>one item&lt;/li>
&lt;li>two items&lt;/li>
&lt;li type="1" start="1" style="margin-left: 20px; ">three &lt;i>items&lt;/i>&lt;/li>
&lt;/ol></pre>

[2016-01-21 18:49] Neftas commented on #65
Could you please include how you created the list in the first place? Did you edit the HTML directly? And what was the behavior you expected to see?

[2016-01-21 18:51] Neftas commented on #64
This is probably a problem in the `html2text` plugin. I will look into it.

[2016-01-21 18:53] trehehaeuser commented on #64
Hi Stefan,

that are too many emails for me. Can you delete me from the email-list?

Best,

Tom

[2016-01-21 18:59] Neftas commented on #64
Hi Tom, there is not such thing as a email list. I think you can get rid of the emails by unwatching this repo.

[2016-01-21 19:06] AGBrown commented on #65
Creating the initial text was just a matter of entering a line of text and
hitting enter at the end of each one, but not at the end of the third line. Then
I highlighted a (the last) word in the last sentence and pressed Ctrl+i.

After that, Ctrl+a to select all text and then create the list as described
originally.

On Thu, Jan 21, 2016 at 6:49 p.m., Stefan van den Akker < notifications@github.co

[2016-01-21 19:17] Neftas commented on #65
Ah, so it only happens when the _last item_ ends with a tag. Interesting, and thanks for reporting!

[2016-01-22 14:50] AGBrown commented on #65
It could well be that - I hadn't narrowed it down that far. Trying that out just now it seems that if the italics are not the last word in the last line then it doesn't seem to happen.

[2016-01-22 22:49] AGBrown opened #66 "Markdown mode - bullet list unrendering adds leading backslash"
Repro steps: write one line of text as follows (text as between the `^` and `$` characters, but not including them):

<pre>^- aaa$</pre>

Then trigger markdown mode using the markdown button, and then untrigger it using the same button. The text now reads:

<pre>^\- aaa$</pre>

Successive trigger and untrigger button clicks double the leading backslashes each time.

However, even on the first rend

[2016-01-23 18:13] Neftas commented on #63
Should be fixed in 91c9125f1aa939ce8857b3c798e2eacbaa8c2860. This is **not** yet on AnkiWeb, because I want to tackle some other issues first. But if you want, you can download the code from here and see if this fixes your problems with spaces in code blocks.

[2016-01-23 19:12] AGBrown commented on #63
Awesome, thank you, if I have time I'll grab the code and test it.

[2016-01-24 11:05] Neftas commented on #66
This is fixed in bdcb8ba. As before, this is **not yet** on AnkiWeb, but feel free to grab the code here and test it.

[2016-01-24 11:06] Neftas commented on #64
This is fixed in bdcb8ba.

[2016-01-24 14:43] Neftas commented on #65
Fixed in b2d6341. At the moment, not yet on AnkiWeb.

[2016-01-24 15:05] trehehaeuser commented on #65
Hi Stefan,

how can I unsubscribe from the email list. I receive to many emails!

best,

Tom

[2016-01-24 15:29] Neftas commented on #65
@trehehaeuser did you read the previous answer I wrote to your question? You can unwatch this repo on GitHub and you will not receive any updates anymore.

[2016-02-01 19:38] AGBrown commented on #63
@Neftas - To test this, do I just drop the `extra_buttons` folder and `Supplementary Buttons Anki.py` files into the `addons` directory, or is there more to it than that?

[2016-02-01 19:54] AGBrown commented on #64
Is this now in 0c835aa9, and is that the same version that was released to https://ankiweb.net/shared/info/162313389 on 26/01/2016?

If so then I am

1. still seeing the problem in the first part of the original issue - if you enter \`:\\\` (<kbd>\`</kbd> <kbd>:</kbd> <kbd>\\</kbd> <kbd>\`</kbd>) and then trigger markdown mode
1. no longer seeing an issue in the second part: enter a code block (tr

[2016-02-01 20:13] AGBrown commented on #64
Ok, I'm thinking maybe something didn't work when i reinstalled it from AnkiWeb, because I'm also continuing to see #65 happen as well as the inline-code issue in my last comment. I'll wait for you to confirm if 0c835aa is indeed the version on ankiweb, and contains these fixes, before reporting any more.

[2016-02-01 20:13] Neftas commented on #63
@AGBrown Thanks for taking the time to test. I have not yet released a new version to AnkiWeb -- there were unrelated problems on Windows that forced me to refactor a lot of code (the timestamp on AnkiWeb indicated that I uploaded the new version and then pulled it again, because it threw errors on Windows). But it seems like I fixed those problems, so I will probably put the new release up tomorr

[2016-02-01 20:14] Neftas commented on #64
See the comment on the other issue: I have not yet uploaded a new version to AnkiWeb. I will tomorrow.

[2016-02-01 20:15] AGBrown commented on #64
@Neftas - my bad, sorry for the spam. Feel free to delete all the comments I wrote as they're just causing noise on the issues.

[2016-02-01 20:23] Neftas commented on #64
No worries, I am thankful that you are taking the time to make detailed bug reports and provide me with useful feedback.

[2016-02-02 18:54] Neftas commented on #64
I've just posted the fixes on AnkiWeb.

[2016-02-02 18:56] Neftas commented on #63
I've put the fixes on AnkiWeb. Could you let me know if this fixes your issues?

[2016-02-02 18:58] Neftas commented on #38
I've addressed this enhancement in 9bbca2f. You can now select to put the extra buttons above the original buttons, below them, or (default) next to them. You can download the new version from AnkiWeb.

[2016-02-02 20:31] AgarwalPragy commented on #38
Awesome!

[2016-02-02 20:31] #38 closed

[2016-02-02 23:14] dedu6ka opened #67 "Why is the Power Format Pack shown as Supplementary Buttons for Anki in the app?"
I have about 20 Add-ons installed;
it was not easy to figure out that this add-on changes its name :-)

It would be helpful to   inform us about this metamorphosis right at the TOP of description close.

Thank you.

[2016-02-03 22:10] jaabio opened #68 "Error on startup: ImportError: cannot import name bytes"
Hi,

I installed the latest version of the addon.  But now when I start Anki I get the following error.  Any suggestions about how to fix it?  Thanks much.

    Traceback (most recent call last):
      File "aqt/addons.pyc", line 41, in loadAddons
      File "/Users/****/Documents/Anki/addons/Syntax Highlighting for Code.py", line 2, in <module>
      File "/Users/****/Documents/Anki/addons/code_h

[2016-02-03 22:16] jaabio commented on #68
This error started happening after I installed the latest version of Supplementary Buttons.  But I just realized it's originating from another plugin - Syntax Highlighting for Code.  I don't use that plugin much, so I uninstalled it.  Now no more error.

[2016-02-03 22:16] #68 closed

[2016-02-04 00:39] gunnarmaluf opened #69 "crash on start in windows"
I get this message when I try to open anki after installing:
An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):
  File "C:\cygwin\home\dae\win\build\pyi.win32\anki\outPYZ1.pyz/aqt.addons", line 41, in loadAddons
  File "c:\pyi\iu.py", line 436, in importHook
  File "c:\pyi\iu.py", line 521, in doimport

[2016-02-04 06:46] Neftas commented on #68
@jaabio What's even better, you don't need Syntax Highlighting for Code anymore, because Supplementary Buttons for Anki provides the same functionality. Just "fence" your code block like this:

[code]
hit the Markdown button and it will display like

[code]

[2016-02-04 06:48] Neftas commented on #69
Looks like the same problem as #60.

[2016-02-04 06:48] #69 closed

[2016-02-04 06:53] Neftas commented on #67
Hi @dedu6ka the full name for this addon is "Supplementary Buttons for Anki", because it provides, well, supplementary buttons for AnkiSRS. "Power format pack" was chosen to be included in the description for AnkiWeb because the field there only allows for a certain amount of characters, and "Supplementary Buttons for Anki" was too long. So "power format pack" is more of a description than a name.

[2016-02-04 08:27] jaabio commented on #68
@Neftas Yup! Thanks. And thanks for an awesome plugin!

[2016-02-04 10:48] gunnarmaluf commented on #60
I believe there's a work around.
In my case the path is: D:\N�o Apagar\Documents\Anki\addons\extra_buttons\
So there's a "ã" that is causing the problem. If anki could give us a way to select another folder for it's addons (ie: c:\anki\addons) then I believe it would fix the issue.

I will try it later at home and let you guys know.

If there's a way for you to decode the path choosing the correct

[2016-02-04 16:31] dedu6ka commented on #67
Thanks, Stefan.
--------------------------------------------
On Thu, 2/4/16, Stefan van den Akker <notifications@github.com> wrote:

 Subject: Re: [supplementary-buttons-anki] Power format pack.... addon shows up in Anki as "Supplem buttons"  Hm... (#67)
 To: "Neftas/supplementary-buttons-anki" <supplementary-buttons-anki@noreply.github.com>
 Cc: "dedu6ka" <vrem2003-temporary@yahoo.com>
 Date: Thu

[2016-02-04 21:00] gunnarmaluf commented on #60
Hi
I got home now and  renamed my folder from
"D:\N�o Apagar\" to D:\Nao Apagar\
(ã to a)

And now the addon is working!

[2016-02-05 06:00] Neftas commented on #60
@gunnarmaluf  great that you've got it working. Unfortunately, as stated above, I cannot ask everybody to only use the English alphabet in their user names.

Meanwhile, on Windows 10, I created a user `петя` so that I could test this issue. But I cannot even open Anki because it will throw an error right away (`WindowsError: [123]`). How did you guys even got Anki working in the first place, seein

[2016-02-05 15:49] gunnarmaluf commented on #60
@Neftas I use Windows 7 and my username does not have any non english characters.
I got the message only after installing the addon, not before. Pure anki worked fine. Maybe that
windows error is specific for Windows 10? Have you tried changing the region and language settings to see if it helps?

[2016-02-05 15:56] gunnarmaluf commented on #60
Another easy workaround is to select a different Documents folder in windows. Right click the documents folder, and select another folder in a path out of your username folder. Doing this will enable anki to install the addon in a folder that would not cause problems and you will be able to keep your username.

[2016-02-05 20:09] Neftas commented on #60
Issue is fixed in fe8ed7a568ba96ebf475a93b4b2d8253e42d7cc5. You can update the addon from AnkiWeb.

[2016-02-05 20:10] Neftas commented on #60
@gunnarmaluf Thanks for the helpful comments. You were right that I needed to change the region & language settings. I could then reproduce the error reported here and fix it. Thanks again for reporting, and I hope you will find the addon useful.

[2016-02-05 20:14] Neftas commented on #59
@tom-newhall I have added a way to change the position of the buttons. You can update the addon on AnkiWeb.

[2016-02-06 11:43] haitike opened #70 "Plugin crashes on startup: cannot import name downArrow"
I get this error when I launch anki with the plugin:

[code]
I use Anki in Linux (Debian) and I have tested to delete the folder and reinstall the plugin, with the same result.

[2016-02-06 19:05] Neftas commented on #70
You can solve this issue by updating to the most recent version of Anki. The version from the repositories are usually very outdated, so you are encouraged to download from the website.

[2016-02-07 21:03] AGBrown commented on #63
@Neftas. The test case now renders correctly, and reverts to the original markdown text when switching off markdown mode.

As an aside, it does still ask to cancel/replace/overwrite - is that expected?

[2016-02-07 21:04] AGBrown commented on #64
@Neftas Both those test cases now work as expected.

[2016-02-07 21:05] AGBrown commented on #65
@Neftas - this seems to be fixed using the original test case.

[2016-02-07 21:05] AGBrown commented on #66
@Neftas - the original test case now works for me.

[2016-02-08 05:42] Neftas commented on #63
@AGBrown It will show the popup whenever the Markdown syntax you entered is not equal to the Markdown it would generate from the current card (the displayed result). I'm using `html2text` to check this, and sometimes the Markdown generated by it is (slightly) different from the Markdown you entered, especially if you use "complex" syntax (tables, footnotes, etc.). If this bothers you, you can disa

[2016-02-08 05:55] Neftas commented on #63
I just noted that the issue is solved for fenced code blocks, but persists for code blocks that were created by indenting four spaces.

[2016-02-08 07:58] AGBrown commented on #63
That makes sense, thanks.

[2016-02-08 07:59] AGBrown commented on #63
Interesting. I must only be using fenced and inline blocks.

[2016-02-08 21:40] steelwolf opened #71 "Markdown does not correctly nest lists"
Markdown syntax should allow for adding spaces before ordered or unordered list items in order to create nested lists. However, this gets translated in the add-on to a single non-nested list. This appears to be occurring with ordered lists as well as unordered lists.

Example:
[code]
Should look like:

However, it is translated as:

This is a different nesting issue than the one described in #23.

[2016-02-09 05:48] Neftas commented on #71
Have you tried indenting the nested list with four spaces instead of two?

[2016-02-09 06:34] steelwolf commented on #71
Thank you for the suggestion: Using four spaces instead of one does work. Is this intended? Typically you only need to add one space before the asterisk in Markdown to get nested lists (for example, creating lists here on GitHub).

[2016-02-09 16:59] prbroadfoot opened #72 "Cloze deletions and markdown mode?"
If I write a card in markdown, add some cloze deletions, then hit the markdown button, the cloze deletions do not work.

On the other hand if I write the card with markdown, hit the markdown button, then manually type cloze deletions (since the cloze button does not work), it looks like they do work. However, this process is more inconvenient and harder to edit. Is there another way?

[2016-02-09 18:59] Neftas commented on #71
There is no single specification for Markdown. Some implementations do this, others do that. I'm using the implementation provided by the Python Markdown Project, and they decided on four spaces for indentation. So yes, it is intended, but the decision wasn't mine :)

[2016-02-09 19:03] Neftas commented on #72
Yes, I tried to explain this in the documentation on AnkiWeb. When you push the Markdown button, you enter a mode I like to call "Markdown mode". You are not supposed to make changes in this mode, that is why I disabled all the formatting buttons in this mode. If you want to make changes, such as add cloze deletions, you should first quit Markdown mode, add the deletions and toggle the Markdown bu

[2016-02-09 19:25] Neftas commented on #70
I've added some code to make the addon backwards compatible with older versions of Anki (65ef9d6). You can update the addon from AnkiWeb.

[2016-02-09 20:50] prbroadfoot commented on #72
This is what I am doing:
1) Make a card with a code block then add a cloze to it. example:
\`\`\`
SELECT * {{c1::FROM}} tablename
\`\`\`

2) Click the markdown button
3) Click the add button

I get the message "You have a cloze deletion note type but have not made any cloze deletions. Proceed?"

[2016-02-10 00:10] haitike commented on #70
Thanks for the fast answer and fix,

[2016-02-10 05:58] Neftas commented on #72
This happens because a code block is a block of text where everything you enter is rendered literally, and is not interpreted. That's why we can enter:

    <div id="explanation">this is <em>not</em> rendered as HTML</div>

and see the actual HTML syntax, instead of the interpreted HTML. So if you enter `{{c1:whatever}}` in a code block, the same thing happens: it will display `{{c1:whatever}}` an

[2016-02-10 06:21] #70 closed

[2016-02-11 14:30] joejuliano22 commented on #57
@Neftas I've been having this issue as well and I've had to uninstall supplementary buttons because it is too troubling with larger cards. So is there no fix for this? Do all versions of Supplementary Buttons have this problem? I really only mainly use it for the bullet point feature, is there a bare-bones version that does not have this problem?

[2016-02-12 19:02] Neftas commented on #57
@joejuliano22 Thanks. It's on my to-do list. I'm thinking of disabling the Markdown functionality completely when you disable the Markdown button in the optioins. That way you can just select the functionality you need, and keep it as light-weight as you want. I'll let you know here when I've implemented that.

[2016-02-13 05:40] prbroadfoot commented on #72
Ok thanks, I think it makes most sense to use the method you described with the Front/Back format and not use the Cloze format. The only other alternative I can think of is to use a rare combination of characters to surround clozes, and then have "markdown mode" convert them to clozes when formatting, but that may be more trouble than it's worth.

[2016-02-14 00:56] steelwolf commented on #71
Thank you for the clarification! Sorry about that.

[2016-02-14 00:56] #71 closed

[2016-02-14 13:35] Neftas commented on #71
Don't worry about it :)

[2016-02-20 23:11] joejuliano22 commented on #57
That would be excellent, thanks for all the work on this add-on @Neftas, really looking forward to the update.

[2016-03-06 01:10] jaabio opened #73 "Add-on error dialog when editing note"
Hi,
I keep getting the following error dialog, even after updating to latest version of the add-on.
It showed when the Edit Current dialog was opened to edit an existing note containing plain text and cloze deletions only, no markup or lists or anything else.
I'm on Mac El Capitan 10.11.3
Anki Version 2.0.33
Thanks.
Julian

[code]

[2016-03-06 18:49] Neftas commented on #73
Thanks for taking the time to report this. I have tried to reproduce this on a MacBook with the same versions you mentioned, but I cannot seem to get the same error as you get. So can you be a little bit more specific about when this error message appears?

You can always try to reinstall Anki and this addon and see if that helps.

[2016-03-06 23:24] jaabio commented on #73
Thanks for looking int the issue.  I'll try reinstalling both the app and addon and report back.

[2016-03-22 16:05] cblupodev opened #74 "Code and cloze deletions conflict"
The markdown code block doesn't recognize the cloze deletion syntax. `{{c1::asdf}}` is rendered exactly like `{{c1::asdf}}` in markdown. But, it should only render `[...]` before the card is flipped

[2016-03-23 06:46] Neftas commented on #74
This looks a lot like another issue: https://github.com/Neftas/supplementary-buttons-anki/issues/72.

[2016-03-23 12:09] cblupodev commented on #74
Ah, right. Sorry for being lazy and not searching first. The work around is kind of a downer I Heavily use cloze deletions. It's almost the only note type I use. Putting things in front and back cards quickly becomes unmanageable for code blocks longer than two lines.

[2016-04-30 04:14] jonteamere opened #75 "Edit mode slow to show; it's noticeably sluggish."
I only use the 'list feature' of this add-on. What can I delete from the add-on folder to speed edit mode up?

[2016-05-01 19:21] jonteamere opened #76 "Would you consider making a separate add-on for just ordered/unordered lists? OR..."
OR would you consider modifying your app to allow users to disable features that may be slowing down the editor? It looks like the add-on calls up a whole new (i.e., alternate) card editor. Maybe that's the reason for the slow-down...

Let me know what you think. I think parsing the add-on down to include only essentials like lists would be a great benefit to users.

Thanks!

[2016-05-02 17:43] Neftas commented on #76
Hi @jonteamere! I've noticed as well that the editor is sometimes slow to appear, or that switching cards in the card browser is not as fast as one would hope. This has to do with the `onFocus` that is needed for the Markdown part of the addon to work correctly. I have not been able to improve this because I have very little time to work on this addon right now. I have been planning to make the Ma

[2016-05-02 17:52] jonteamere commented on #76
Hey, no problem. I can understand that. I just didn't want this issue to get lost in all the other things you're working on. It's the ONLY reason I had to uninstall the add-on. Thanks for the reply!

[2016-05-07 01:38] dayFun commented on #55
Any ideas/suggestions on how to enable cloze deletions in code formatted blocks?

Currently, if I create a card with cloze deletions and then apply the syntax highlighting, the cloze also gets formatted and then Anki does not recognize it as a cloze deletion.

With mixed results, I have manually fixed (removed) the formatting on the cloze itself, sometimes this works and other times it does not.

[2016-05-23 03:30] joejuliano22 commented on #57
Hey @Neftas, is there any update on this? Still been a bit of a troubling feature. Is it possible to revert back to the version prior to the Markdown until it gets sorted out? Thanks.

[2016-05-28 04:47] romaro11 opened #77 "error - deletion of previous edits in browser window"
Hi. Thanks for this great add-on.

I've been having some issues recently. I notice that Anki will sometimes delete previous edits made from the browser window. For instance, if I add "abc" to card 1 and then add "def" to card 2, when I look back on card 1 the "abc" edit will be undone. Anki will sort of get stuck in these modes where I cannot make any edits from the browser window because of this

[2016-05-28 05:32] romaro11 commented on #77
Some more info --

It seems that editing a card in the edit window will also undo any previous edit made in the browser window (even opening the edit window will do this). However, if an edit is made in the edit window, subsequent edits made in the browser window don't undo that change. (Hope it was possible to follow all that).

[2016-05-28 10:11] Neftas commented on #77
Hi @romaro11, I am not sure that I understand exactly what you are doing. Could you maybe provide some screenshots to make the issue more clear?

[2016-05-28 10:20] Neftas commented on #57
Hi @joejuliano22, no, there hasn't been any update recently. I have been in over my head with work, unfortunately, and have not been able to spend much time on side-projects. It seems like this situation will not change very soon (I have a full-time job and I am enrolled in college at the same time), but I will try to make the Markdown optional.

[2016-05-28 10:22] #58 closed

[2016-05-29 05:46] romaro11 commented on #77
Sure. Here's a video of the issue: https://youtu.be/7DlFk-NzXjE

[2016-05-31 18:04] Neftas commented on #77
Thanks for being so thorough by making a video. It explains the situation perfectly. Sorry to keep you waiting, but I had to get my hands on a Mac. Unfortunately, I could not reproduce the issue on a clean install of Anki and with just this addon installed. I do not see any edits getting lost when I reenacted what you did in the video.

If you don't mind, to get to the bottom of this, could you re

[2016-05-31 19:31] #60 closed

[2016-05-31 19:32] #59 closed

[2016-06-01 15:55] romaro11 commented on #77
Thanks for your attention to this issue -- I really appreciate it.

Unfortunately, though, I've just decided to uninstall the add-on for the time being (I was just wondering if this was a known issue with a quick fix). The add-on really great for simple formatting but too risky for me personally.

Best of luck.

[2016-06-01 16:12] joejuliano22 commented on #77
Looking at @romaro11 video, I noticed I've had this happen to me to one card in particular. I haven't been able to reproduce it like Romaro has, so it is a puzzling issue. However, every time I tried to add edits to a specific cloze card, the edits would be gone when I was reviewing the card but the original content on the card remained. I am also on a Mac. It would be interesting to see if a simp

[2016-06-02 04:44] Neftas commented on #77
@romaro11 I don't blame you, I would not take the risk either.

I am curious though at what causes this. I am dogfooding this addon, and I use Anki for several hours a day, and I have not noticed any information disappearing, obviously, or I would have long known about it and fixed it. I am on Linux and have only this addon installed.

Since @joejuliano22 has also experienced this, the problem mig

[2016-06-17 13:31] daniel-r-s commented on #77
Hi @Neftas. I am on Linux and I'm having the same issue. It may well be a conflict with another addon. I do have a bunch of them installed.

I also notice that in the [ankiweb page](https://ankiweb.net/shared/info/162313389) there are recent reviews saying the addon "randomly deletes information" or "corrupts notes". Maybe it's the same problem?

[2016-06-19 10:44] tarzan3 opened #78 "Toggle markdown shortcut only works one way"
The shortcut `Ctrl + Shift + D` allows me to go from the HTML "preview" to the raw markdown input. But it doesn't go the other way (convert raw markdown back to HTML), unless I click the Toggle Markdown button. Could you please make it go both ways? Or if something prevents this from working both ways, an alternate keyboard shortcut to convert raw markdown to HTML?

[2016-06-19 11:46] MagHz opened #79 "Automatically use text on edit, automatically use markdown on card display?"
Hello,

I've just downloaded your addon today as the syntax highlighter addon I've been using previously had a few pain points that make me seek out some alternatives, and it's looking pretty good so far. However I haven't found any option for what seemed rather natural to me - to convert cards to markdown automatically.

Current system works, but it requires too much converting between markdown a

[2016-06-19 16:40] MagHz opened #80 "Bug - enabling line numbering in code blocks breaks card formatting"
Hello,

If you enable line numbering in code blocks, unless the code block is the last element on the card the formatting breaks.

Example flashcard:

[code]
[code]

Without line numbering:
![no_line_nums](https://cloud.githubusercontent.com/assets/12188949/16178343/77ea8ece-3645-11e6-86d0-b558618439aa.png)

With line numbering:
![with line nums](https://cloud.githubusercontent.com/assets/12188949

[2016-06-21 05:59] Neftas commented on #78
Hi @tarzan3, you can change the shortcuts yourself, please see the documentation.

[2016-06-21 06:00] Neftas commented on #77
Hi @daniel-r-s. Yes, I read those reviews as well. Could you maybe list the other addons that you have installed? I may have to put up a warning for other users.

[2016-06-21 06:06] Neftas commented on #80
Thanks for reporting this! I will look into it, or, if you feel up to it, you can submit a pull request :)

[2016-06-21 07:53] tarzan3 opened #81 "Cannot override code block formatting"
Using markdown, `abc` is converted to `<code>abc</code>` while a code block:
[code]
    abc
[code]

is converted to `<div class="codehilite" ...>abc</div>`

If I add a `code { }` section to card CSS, I can control the font-family used for text between `<code>` and `</code>`, among other things. However, if I add a `.codehilite { }` section to card CSS, it doesn't override the font family used for

[2016-06-22 03:50] joejuliano22 commented on #77
Apologies for the delay in getting back on this @Neftas.

Here are the add-on's I have installed: Hand Answer Key Shortcuts, HierarchicalTags, Image Occlusion 2, Night Mode, Quick reschedule in review

Hopefully the problem will become a bit more obvious, still not able to reproduce it reliably.

[2016-06-22 14:28] daniel-r-s commented on #77
I'm glad @joejuliano22 has a more sane list of addons. Here is mine:

- Adjust_Audio_Speed.py
- anki-card-stats.py
- Another_Retreat_at_lapse.py
- AwesomeTTS.py
- _Check_media_does_not_delete_files.py
- Clean NBSP.py
- _Clear_Field_Formatting_HTML.py
- Create_Copy_of_Selected_Cards.py
- Daily_Totals.py
- _Edit_Audio_Images.py
- Editor_Field_History.py
- _Editor_fontsize.py
- Frozen Fields.py
- Hie

[2016-06-22 18:13] romaro11 commented on #77
Just to chime in -- I experienced my issues w/o any other add-ons installed.

[2016-06-24 01:17] tarzan3 commented on #78
Never mind, after disabling all supplementary buttons except Toggle Markdown, it works. (I guess one of the buttons was consuming the shortcut key going in the other direction). I was confused about having two ways of formatting (markdown and supplementary buttons), but I now see you're supposed to use one or the other to avoid loss of work. Thanks, this can be closed.

[2016-06-24 01:17] #78 closed

[2016-06-24 13:57] tarzan3 opened #82 "Update documentation on Anki site"
Great addon so far! However, it's not clear to new users that supplementary buttons and markdown should be used in a mutually exclusive way, because some formatting applied through supplementary buttons is overwritten when toggling markdown mode (example: format as a keyboard button). It's also confusing why there are two ways of formatting, until this is understood. Thanks!

[2016-06-26 13:16] gsapu commented on #56
Edit card > card style

Add following to Style:
`table {
 margin:0px auto 0 auto;
 text-align:left;
}`

Also, wrap in a <table> the Back (Back Template)
`{{FrontSide}}

<hr id=answer>

<table>
   <tr>
      <td>
         {{Back}}
      </td>
</tr>
</table>`

See below:

![screen shot 2016-06-26 at 14 12 02](https://cloud.githubusercontent.com/assets/7359939/16362497/3e8fd806-3ba8-11e6-8ab3-519b717

[2016-06-26 17:22] Neftas commented on #82
Yes, they are exclusive to the point that Markdown will not recognize and therefore not render anything that it doesn't know. So a keyboard shortcut will get lost, an unordered list will not. It _is_ probably a good idea to warn users about that, so thanks for the suggestion.

[2016-06-26 17:39] Neftas commented on #81
When I use Markdown, it gets converted to a div with a class name `codehilite`, and a `pre` child element:

    <div class="codehilite">
        <pre>abc</pre>
    </div>

Since I already style all `pre`s with a certain font family, this font family is also applied to to this Markdown code block.

What you could try is is specify that you want all `pre`'s contained in a `.codehilite` to be given a

[2016-06-27 15:22] enzio901 opened #83 "keyboard Short cut for creating horizontal line not working"
The keyboard shortcut for this function is Shift + Ctrl + Alt + -
When I press this combination "-" is typed but no horizontal line is created.

[2016-06-27 18:05] Neftas commented on #83
You can specify your own shortcuts. Please see the documentation.

[2016-07-04 21:02] Juddd opened #84 "Repost a bug"
This bug is when you click [the buttom](http://o8aucf9ny.bkt.clouddn.com/2016-07-05-04-43-31.png) to "Create a code block",which will result some content invalid.But this bug will not 100% reproduce.I have recorded [a gif](http://o8aucf9ny.bkt.clouddn.com/reportButOfPowerAddon.gif) to show it and hope can help you know it.
Note that frame of anki:

![2016-07-05-05-08-21](https://cloud.githubuserco

[2016-07-04 21:19] Juddd commented on #84
The follow text for your test
[code]
[pic1](http://o8aucf9ny.bkt.clouddn.com/2016-07-05-05-17-46.png)
[code]
[pic2](http://o8aucf9ny.bkt.clouddn.com/2016-07-05-05-18-36.png)

[2016-07-13 13:38] tarzan3 commented on #81
Sorry for the delay. Both approaches seem to work well. Thanks!

[2016-07-13 13:38] #81 closed

[2016-07-13 13:42] tarzan3 commented on #82
Sorry accidentally closed.

[2016-07-14 15:42] widder commented on #74
Work around: write markdown code block, press Markdown button, strg+c copy content the rendered card, delete the card, new card and paste, add your cloze deletions

[2016-07-20 08:00] stianlagstad commented on #74
The workaround @widder suggested works, but it would be nice to have the markdown mode working with cloze deletions.

[2016-08-09 07:10] aznyellojersey opened #85 "Error when creating a fixed ordered list"
Selecting text from a card in the browser to make an ordered list. Clicking the "ordered list" option pushes the following bug:

[2016-08-12 07:23] Neftas commented on #85
@aznyellojersey thanks for reporting this bug.

It has been fixed in 5dd3b2a.

You can update the addon from WebAnki. Please report if this fixes the issue for you.

[2016-08-12 21:44] aznyellojersey commented on #85
Seems to fix the problem, thanks!

[2016-08-13 08:03] #85 closed

[2016-09-20 15:53] badlydrawnrob commented on #55
@Neftas Could you confirm the Markdown code blocks _aren't_ using [Pygments](http://pygments.org) when rendering in study mode? I thought one of the Power Format Pack features was to give syntax highlighting similar to the [live pygments demo](http://pygments.org/demo/6036755/)?

Also, I'm having the same issue as @dayFun — The `{{cloze::deletion}}` only works if you add the code block after it's

[2016-09-29 14:56] Neftas commented on #55
@badlydrawnrob I thinks there is some confusion here about terminology: the larger *code blocks*, the ones started by three backticks <code>```</code> or three colons <code>:::</code> are syntax highlighted by Pygments, but *inline code "blocks"*, the ones between single ticks (<code>`</code>) are not being rendered by Pygments, so you have to style them yourself.

[2016-09-29 15:07] Neftas commented on #55
@badlydrawnrob Your second issue has been addressed before in #74. Allowing changes in rendered Markdown can (and probably *will*) mess up the formatting of your card when you go back to Markdown mode.

[2016-10-03 16:31] pchernof opened #86 "Table issue: two columns with small amount of text takes up entire screen"
When viewing a table on the desktop anki version, if the table is only two columns with a small amount of text in each cell, you have to look across nearly half a screen of white space to read each row. There is a shitty table addon (semi broken now, randomly deletes text) called HTML table (and a spinoff called better HTML table). Both of those addons produce tables that don't use the entire scre

[2016-10-03 18:21] Neftas commented on #86
Hi @pchernof thanks for the kind words. I use Anki and this addon also a lot both for study and work :)

You can change the width of the table by editing your user style sheet (_Tools_ > _Manage note types..._ > _Cards_) and adding:

[code]

This will make the table adjust the size of the columns as needed, making them no larger than the biggest entry in the column.

If you need any other visual c

[2016-10-03 20:01] pchernof commented on #86
Wow, you are heroic! That is amazing, exactly what I needed.

[2016-10-04 12:06] pchernof commented on #86
Hi, sorry to be a bother again, but your fix only helped if there is a small amount of text overall. Even with only two columns and practically nothing in the left column, the table takes up the whole screen. The right column, which contains a few sentences, can be split into multiple lines for each cell in order to make the width of the sentence small, but this has no effect on the size of the ta

[2016-10-04 18:02] Neftas commented on #86
Ah, yes, you also need the following:

[code]

because currently they are set (inline) to be each equally wide: `(100 /  number of colums)%`.

[2016-10-04 19:33] pchernof commented on #86
Thank you!! Looks great on my PC and phone now.

[2016-10-05 13:27] Neftas commented on #73
Closing this for no activity over 6 months.

[2016-10-05 13:27] #73 closed

[2016-10-05 13:35] #66 closed

[2016-10-05 13:39] #65 closed

[2016-10-05 13:40] #64 closed

[2016-10-06 14:14] pchernof commented on #86
Hi, how can align a small table to the center of the screen? The tables seem to always align to the left. I think I need to make a change in the style code, but I don't know how.

[2016-10-07 06:28] Neftas commented on #86
Hi again :) you can center your table with CSS in your style sheet. If you add

[code]

your table will be horizontally centered (which I think is what you want). `margin: 0 auto` means: add 0 margin to the top and bottom of the table, and adjust the right and left automatically. By the way, you won't see this change directly in your editing screen, but you will notice it when reviewing the card.

[2016-10-07 17:34] pchernof commented on #86
Thanks a lot. You are right, I will try to tackle the problem first next time.

[2016-10-10 15:37] badlydrawnrob commented on #55
@Neftas Ah ok thanks for that. So we can style with CSS by outputting the [standard pygments styles](https://github.com/richleland/pygments-css)? Still working my way through the pygment docs! And on the second point, I'll try and use the workaround mentioned in #74

[2016-10-13 15:58] badlydrawnrob commented on #55
@Neftas In answer to my own question, no wonder I'm having difficulties styling pygments. It looks like you're hard-coding the spans instead of using the proper classes, i.e. [`<span="k">` for keywords](http://pygments.org/docs/quickstart/#example). I had to output the notes as plain text to see what was going on:

[code]

So for now, this feature is unusable for me, as the whole point of pygments

[2016-10-13 16:40] badlydrawnrob opened #87 "Use pygments classes instead of inline css"
So [digging into your code](https://github.com/Neftas/supplementary-buttons-anki/search?utf8=%E2%9C%93&q=noclasses), it seems like you've modified the [Code highlighting](https://github.com/waylan/Python-Markdown/blob/master/markdown/extensions/codehilite.py) plugin to [output inline styles](https://github.com/Neftas/supplementary-buttons-anki/issues/55#issuecomment-253556975), rather than using t

[2016-10-13 16:48] badlydrawnrob commented on #87
Commenting out this section of [this file](https://github.com/Neftas/supplementary-buttons-anki/blob/7cc89bfef12f03461f0ba74f14dd525c22779ee0/extra_buttons/utility.py) seems to do the job, for now.

[code]

Now outputs:

[code]

The `align="left"` is still there, which ideally I'd like disabled also.

[2016-10-13 19:33] Neftas commented on #87
@badlydrawnrob Haha, I'm not quite as evil as you would have me ;-)

I am using the API of Python-Markdown to create blocks of code with inline styling. I did this on purpose, so as to not force everyone to read the Pygments documentation and write tens of lines of CSS before being able to use this add-on. You might be surprised, but not everyone knows CSS or is inclined to write their own style s

[2016-10-13 21:10] Neftas commented on #86
In  e07768b, I added an option to switch between using your own style sheet or use the default inline styling of the add-on. Also, the text in the table should no longer be smaller than the surrounding, non-table text when using the default inline styling.

Would you mind checking if this works correctly for you? You can update the add-on from [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:14] Neftas commented on #82
I updated the documentation in  e07768b. It now mentions:

both at the same time. Markdown was designed to be a fast and simple way to
quickly write relatively simple formatted text. As such, it won't know what to
do with complex cards that use formatting unknown to the Markdown
specification. So when clicking the Markdown button, it _will_ "erase"
formatting that it does not know how to handle. Y

[2016-10-13 21:16] Neftas commented on #76
@jonteamere I made the Markdown part of this add-on optional in e07768b. It is disabled by default, and so won't slow down card editing anymore. You can update the addon from [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:17] Neftas commented on #75
See update in #76.

[2016-10-13 21:19] Neftas commented on #74
@cblupodev @widder @stianlagstad I've added the option to enable editing of the rendered Markdown in e07768b, so if you really want, you can add cloze deletions to Markdown code blocks. You can update the add-on on [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:20] Neftas commented on #72
@prbroadfoot I've added the option to enable editing of the rendered Markdown in e07768b, so if you really want, you can add cloze deletions to Markdown code blocks. You can update the add-on on [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:22] Neftas commented on #67
@dedu6ka I have renamed the add-on inside Anki to "Power Format Pack" in e07768b, which matches the name on AnkiWeb. I hope this will remove any confusion when using this add-on.

You can update the add-on on [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:25] pchernof commented on #86
Wow. Nicely done! The text is now a good size while editing. Also I see the option to swap between the two styles. You are such a help to so many people, I bet if you took donations you would get a few (although probably too few people using Anki for it to add up to much yet).

[2016-10-13 21:25] Neftas commented on #57
@dsia @skotzko @joejuliano22 I have made the Markdown part of this add-on optional in e07768b, so if you do not use it, the problem of the focus switching to the bottom of the card will no longer occur.

You can download the update from [AnkiWeb](https://ankiweb.net/shared/info/162313389).

[2016-10-13 21:28] Neftas commented on #86
Thanks! I am glad if I can help people be a little bit more productive :)

[2016-10-13 22:26] badlydrawnrob commented on #87
@Neftas Haha. First of all, if I came across as an arrogant ass, that wasn't my intention. I've had a [frustrating time trying to get a workable highlighting solution](https://github.com/badlydrawnrob/anki/issues/21) and really, you're doing an amazing job with this plugin. It's really speeding up my workflow.

I can understand the thinking behind inline styles, but as Anki spews out pretty ugly c

[2016-10-13 22:32] badlydrawnrob commented on #87
So to summise, a big **yes!** for `noclasses=True` and `noclasses=False` preferences. Also, just to be pedantic, should there be a `<code>` tag within `<pre>`?

[2016-10-14 16:30] pedrohasferreira opened #88 "Code formatting addons don't indent text in code?"
I have tried two anki addons with code formatting features. power format pack Syntax Highlighting for Code
With both addons indentation is not preserved. All the text gets indented to the left. For example
this is copied text before code formatting
this is text after formatting with syntax highlight
this is text after formatting from power format pack
In both instances, all the text is indented to

[2016-10-14 17:50] Neftas commented on #88
Hi @pedrohasferreira it looks like your example code lost its formatting.

Could you maybe post some images, and describe what you would expect when you format your code with this add-on, or what desired behavior would be?

[2016-10-14 17:56] Neftas commented on #87
Alright, I will look into this. (I already made it easier for tables to be styled using style sheets instead of using inline styling (that would be the "table button", not the Markdown table)).

As for specific tags that get generated (`<code>` elements within `<pre>`): that is all Python-Markdown, I simply call their API and they generate the code.

[2016-10-14 18:09] pedrohasferreira commented on #88
I would like to make a simple paragraph as it does in Word with the tab keyboard key.

![image](https://cloud.githubusercontent.com/assets/22842220/19397856/01597036-9220-11e6-90f5-6b7a0afdcbc6.png)

Thanks for listening.

[2016-10-14 18:20] Neftas commented on #88
@pedrohasferreira I might miss something here, but when I indent my text with spaces, it shows the text with indentation, both in the edit window and when reviewing the card. You can't use tab for that, as you have found out, because that will take the cursor to the next field.

Indenting with spaces won't work if you use Markdown, by the way, because you will create code blocks:

    This is not

[2016-10-14 19:42] pedrohasferreira commented on #88
thanks!!

[2016-10-15 13:38] #88 closed

[2016-10-15 20:20] cblupodev commented on #74
Thank you Neftas

[2016-10-17 08:18] tarzan3 commented on #82
Yeah looks good. But, believe it or not, even that may not be clear enough to less thoughtful users. How about:

Thanks!

[2016-10-17 16:01] joejuliano22 commented on #57
@Neftas Works like a charm. Thank you for the update.

[2016-10-21 13:18] kiuuik commented on #86
@Neftas: You could add a paragraph to the documentation on ankiweb about adjusting the column width. Your hint from here to use "table {width: auto !important;}" helped me a lot and made your addon even more useful but I only stumpled upon it only accidentally.

[2016-10-21 13:29] Neftas commented on #86
Hi @kiuuik thanks for your comment. The thing is, you can style the table, just as about everything in an Anki card, to your liking by using your own style sheet. If you go to options, and select the option _Use user style sheet for styling code blocks_, you can style the table whatever way you want, not just the width.

The CSS in this thread was only meant as a workaround when that option was no

[2016-10-22 16:18] pchernof opened #89 "Table: top left cell resetting formatting of text"
I typed

ASDF|ASDF|ASDF
a|A|A
sdf|ASDF|asdf

(sentences and facts and stuff)

and hit control 3, and a beautiful table was made. The top row was bolded, which I didn't need, so I unbolded all of them, with selective bolding on some areas of the top middle and top right cells. The top left cell is re-bolded whenever I edit the card and unbold it. I checked database and restarted anki to no effect.

[2016-10-22 18:25] Neftas commented on #89
Hi @pchernof, thanks for reporting this.

I have investigated, and it looks like this issue [originates in Anki itself](https://github.com/dae/anki/blob/master/aqt/editor.py#L881-L892).

Basically, what happens is that Anki checks the generated HTML from your card every time you edit the card, to see if the HTML is correct. It deletes certain styles from the card that probably caused some problems

[2016-10-22 18:47] Neftas commented on #89
Workaround in 9d66a46, you can update from [AnkiWeb](https://ankiweb.net/shared/info/162313389).

Can you let me know if this solves your issue?

[2016-10-23 13:14] pchernof commented on #89
Your fixed worked wonderfully. Thank you!

[2016-10-31 02:44] li-xinyang opened #90 "Cannot find the "Markdown" checkbox"
I am using Anki Linux version. I'd like to enable Markdown but I cannot find setting anywhere. Any hint?

Thanks

[2016-10-31 04:56] li-xinyang commented on #90
![screenshot from 2016-10-31 12-54-58](https://cloud.githubusercontent.com/assets/3349406/19844613/67c3c640-9f69-11e6-88b0-7dba26ef4159.png)

[2016-11-05 15:49] vpopmachine opened #91 "Error occurred in the add-on"
Traceback (most recent call last):
  File "aqt/addons.pyc", line 41, in loadAddons
  File "/Users/Pandapants/Documents/Anki/addons/Supplementary Buttons Anki.py", line 2, in <module>
  File "/Users/Pandapants/Documents/Anki/addons/power_format_pack/extra_buttons.py", line 32, in <module>
  File "/Users/Pandapants/Documents/Anki/addons/power_format_pack/utility.py", line 42, in <module>
  File "/Us

[2016-11-07 19:11] Neftas commented on #87
@badlydrawnrob I have just pulled a change to branch develop in b8fea08. Can you tell me if this is what you wanted? I would appreciate your feedback before pushing it to master and publishing it on AnkiWeb.

[2016-11-07 19:19] Neftas commented on #91
@vpopmachine Thanks for reporting this.

In your stacktrace, I noticed the old add-on filename being mentioned. Could you do the following:

1. Remove the add-on from Anki (_Tools_ > _Add-ons..._ > _Power Format Pack_ > _Delete..._).
2. Remove the add-on from disk: go to _\<Documents\>/Anki/addons_ and remove all files related to _Power Format Pack_.
3. Reinstall the add-on.

Does that resolve the

[2016-11-07 19:22] Neftas commented on #90
Hi @li-xinyang I've reopened your issue, because it looks like the clarity of the documentation and menu structure leave something to be desired. I will try to make it more clear.

[2016-11-08 23:36] vpopmachine commented on #91
Unfortunately I did not. I received the following message:

An error occurred in an add-on.
Please post on the add-on forum:
https://anki.tenderapp.com/discussions/add-ons

Traceback (most recent call last):

File "aqt/addons.pyc", line 41, in loadAddons

File "/Users/Pandapants/Documents/Anki/addons/Supplementary Buttons
Anki.py", line 2, in <module>

File
"/Users/Pandapants/Documents/Anki/addons

[2016-11-08 23:43] vpopmachine commented on #91
I just removed the Supplementary Buttons Anki add-on and re-installed Power
Format Pack. It worked.

On Tue, Nov 8, 2016 at 6:36 PM, Amanda Vest <vpopmachine@gmail.com> wrote:

[2016-11-18 02:00] SDMc13 opened #92 "Indent Command"
When I use the command to indent a bulleted list, it instead switches tabs. Is this something that I have somehow messed up?

[2016-11-18 02:17] #92 closed

[2016-11-19 18:29] badlydrawnrob commented on #87
@Neftas Hey, just saw your message. Yeah, that looks exactly what I was after thanks! You've gotten rid of the `pre` align too, which is great :)

Just one point though, did you remove the `<div class="codehilite">` section from the rendered code?

<img width="763" alt="screen shot 2016-11-19 at 18 18 39" src="https://cloud.githubusercontent.com/assets/1176875/20457568/1061cd30-ae86-11e6-8e8f-d793

[2016-11-30 16:24] pchernof commented on #89
It's baaaaack. "Rotational force on planted foot" will always re-bold when I un-bold it.
![untitled](https://cloud.githubusercontent.com/assets/22597581/20760937/45abd9cc-b719-11e6-836f-f81d47c9aac4.jpg)

By the way, I attempted several times to adjust the padding of tables or to add vertical lines in between cells. It seems that once a table has been made, the padding or lines cannot be adjusted

[2016-12-03 18:36] Neftas commented on #89
Could you post the HTML of the card here? (You can get the HTML by using <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>X</kbd>. Don't just post a picture of the code; indent the code with four spaces and paste it here, so I can easily copy it, like:

    <html>
        <body>
            Body of the HTML.
        </body>
    </html>

Concerning your second question: I have obviously no idea what you h

[2016-12-09 20:18] pchernof commented on #89
Here is a table that I made with "Style tables automatically on creation" **enabled** in the options.
![untitled](https://cloud.githubusercontent.com/assets/22597581/21063006/60f52d8a-be4b-11e6-95e0-e567ef97c822.jpg)

Here my style CSS:

.card {
 font-family: arial;
 font-size:21px;
 color: black;
 background-color: white;
 text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;

[2016-12-16 16:59] pchernof commented on #89
I found a workaround that takes very little effort. I simply indent the text in all columns after the first. Then my tables are beautifully spaced! So... problem solved.

[2017-01-17 14:00] badlydrawnrob opened #93 "<code> inside links breaks Markdown formatting"
Might be the same issue as #63 ...

becomes:

<img width="573" alt="screen shot 2017-01-17 at 15 51 21" src="https://cloud.githubusercontent.com/assets/1176875/22022991/02eb0d5e-dccd-11e6-9a82-fbe9a710d7f6.png">
<img width="571" alt="screen shot 2017-01-17 at 15 51 31" src="https://cloud.githubusercontent.com/assets/1176875/22022997/0735401e-dccd-11e6-9f06-94f9e7a2422f.png">

There's a few minor i

[2017-01-20 11:23] vtpros commented on #55
I'm having the same problem with highlighting. For instance I put this code in the card.
<pre>```python
def color_all_the_things():
    return None
[code]

[2017-01-22 19:12] Neftas commented on #55
@vtpros Please enable Markdown in the add-on options. This will make the Markdown button appear in the the editor.

[2017-01-22 19:16] Neftas commented on #93
Hi @badlydrawnrob, I see the problem and will investigate.

[2017-01-22 20:23] vtpros commented on #55
@Neftas Or, I see now. Thank you!

[2017-01-23 06:02] Neftas commented on #87
Hi @badlydrawnrob, sorry for a (very) late reply. When I switch to Markdown, I still get the `<div class="codehilite">`. Are you sure it is gone?

Since that class serves as an indicator that what is coming next is a pygments code-highlighted section, I think adding another class would be redundant, don't you think so?

[2017-01-23 06:21] #86 closed

[2017-01-23 06:34] #76 closed

[2017-01-23 06:34] #74 closed

[2017-01-23 06:35] #72 closed

[2017-01-23 06:35] #67 closed

[2017-01-23 06:43] #82 closed

[2017-01-25 07:00] Neftas commented on #93
@badlydrawnrob I fixed the issue in 0303b95. Would you mind checking if it indeed solves your issue?

[2017-01-25 18:54] Neftas commented on #63
Better late than never,  0303b95 fixes this issue when you indent by four spaces.

[2017-01-26 05:55] Neftas commented on #90
Renamed "Button options" to just "Options" in 869fe8f5b3cefc3c156cadff2d66b8d2bc9337eb.

[2017-01-26 05:58] #83 closed

[2017-01-30 13:52] badlydrawnrob commented on #93
@Neftas Seems fixed to me! Good stuff 👍

[2017-01-30 13:58] badlydrawnrob commented on #87
@Neftas Hey Stefan, so it does in fact seem to be adding the `codehilite` class when converting to Markdown, when you copy and paste the converted Markdown into another field, however, it seems to strip the `div` wrapper. You're adding it with js? I guess this was the issue I was seeing, probably a brain fart on my part ;)

Either way, this solves my needs just fine, so as you say, no need for ano

[2017-01-30 13:58] #87 closed

[2017-02-02 01:53] deepakj86 opened #94 "Custom CSS class for <code> and <pre> in Markdown mode"
Firstly, thank you very much for building (and continuing to work on) this add-on; the functionality is excellent.

Secondly, this is a feature request rather than a bug. :)

At the moment, when using buttons to apply code styling, you allow a custom CSS class to be applied to the `<code>` and `<pre>` blocks. However, when using Markdown mode, the user has to manually style the code tag (or use on

[2017-02-04 01:45] abydos62 opened #95 "small typo in description of the package on anki website"
Just wanted to let you guys know that you wrote, "Tables have the same syntax as described above for the table button." when that explanation actually occurs a bit below this statement, causing me to search what I'd already read. Cheers!

[2017-02-05 18:39] #93 closed

[2017-02-05 18:56] Neftas commented on #94
Hi @deepakj86 thanks for the kind words :)

When you use Markdown to style your code snippets, there is a class `codehilite` in an outer div spanning the code that is automatically added. Is this not what you are after?

With the option "Use user style sheets for styling code blocks" selected, the following code input:

[code]

would result in the following HTML:

[code]

But this may not be what

[2017-02-05 19:03] Neftas commented on #95
@abydos62 Thanks for reporting! I can see how that's confusing. I fixed it. That's what you get when you move sections of documentation around... :)

[2017-02-05 19:04] #90 closed

[2017-02-05 19:52] deepakj86 commented on #94
Sure, let me clarify what I meant. The way the [Code Prettify](https://github.com/google/code-prettify) script works is that it takes any text within `<pre class="prettyprint">...</pre>` or `<code class="prettyprint">...</code>`, and applies code formatting to it. It allows users to either style code elements manually, or apply pre-prepared 'themes' for the code highlighting.

My request was that

[2017-02-06 19:16] Neftas commented on #94
I see. I think the easiest way is just to type the HTML in directly in the field. So,

[code]

will render exactly that HTML. So, instead of typing <code>\`\`\`java\`\`\`</code>, you need to type `<pre class="prettyprint"></pre>`.

[2017-02-07 14:37] deepakj86 commented on #94
I sort of already do this, but then it makes it verbose and defeats the purpose of using Markdown... :)

Don't worry about this request if it involves changing the underlying framework... I will JS my way around it!

[2017-02-10 09:03] #94 closed

[2017-02-23 23:32] ghost opened #96 "Power Format Pack breaks with Anki version 2.1.x"
# Error:
[code]
# Anki Information

Version 2.1.0a10
Qt 5.8.0 PyQt 5.8

# System Information

OS: Arch Linux x86-64
HW: Thinkpad T440S
Kernel: 4.9.9-1-ARCH

[2017-02-24 07:27] Neftas commented on #96
### Short answer

You need to downgrade Anki from the **alpha 2.1.x** to the stable **2.0.x** branch.

### Background

You are currently using an alpha build of Anki. Apparently, Anki 2.1 migrates away from Python 2 and PyQt4 towards Python 3 and PyQt5. Python 3 is **not** backwards compatible with Python 2 and therefore most Anki add-ons will break with the alpha version.

Arch, for some reason,

[2017-02-24 16:16] zog34 commented on #96
It looks like Anki has been pulled from the pacman repository because of [security issues with qtwebkit](https://www.archlinux.org/todo/phasing-out-qtwebkit/). This will continue to be a problem until Anki utilizes a more up-to-date package. I'm going to mark this as closed because it is an upstream problem.

[2017-03-13 20:59] pchernof opened #97 "Tables unstable during creation in latest anki (2.0.44)"
Since upgrading to the latest anki and the latest version of the power format pack, sometimes when I am creating tables, certain actions cause the table to become garbled. I have attached the latest example, where the table became unusable and ctrl-z didn't work. Please help! Thanks

![example](https://cloud.githubusercontent.com/assets/22597581/23875013/c9e66290-082f-11e7-809b-7fc6df0f1b75.jpg)

[2017-03-13 21:11] pchernof commented on #97
I remade the table for the third time (doing all the same things but with a slightly altered order in which I centered the left column, indented the right column, and bolded certain elements) and it worked. Here's how it's supposed to look:
![proper](https://cloud.githubusercontent.com/assets/22597581/23875523/a4f3b828-0831-11e7-915b-3d5f44640955.jpg)

[2017-03-14 19:38] Neftas commented on #97
@pchernof, thanks for taking the time to report this. In order to help you, I would need the **exact text you used to created the table** (a screenshot won't do). Please post the HTML of the text of the card that resulted in the malformed table. You can do this by pressing <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>X</kbd> on your keyboard and copying the text. Paste the HTML here, but please inden

[2017-03-14 20:02] pchernof commented on #97
<div><b>C</b>rying&nbsp;<b>H</b>u<b>M</b>a<b>N</b> <b>C</b>a<b>G</b>e</div>    <div><br /></div><div><b>C</b>olic</div><div><b>H</b>air tourniquet</div><div>    <b>M</b>ilk protein allergy</div><div><b>N</b>ormal infant crying</div><div><b>C</b>orneal     abrasion</div><div><b>G</b>ERD</div><div><br /></div><div><table style="font-size: 1em; width:     908px; border-collapse: collapse; "><thead><t

[2017-03-14 20:03] pchernof commented on #97
Like that? lol it looks wrong

[2017-03-14 20:04] pchernof commented on #97
<div><b>C</b>rying&nbsp;<b>H</b>u<b>M</b>a<b>N</b> <b>C</b>a<b>G</b>e</div><div><br /></div><div><b>C</b>olic</div><div><b>H</b>air tourniquet</div><div><b>M</b>ilk protein allergy</div><div><b>N</b>ormal infant crying</div><div><b>C</b>orneal abrasion</div><div><b>G</b>ERD</div><div><br /></div><div><table style="font-size: 1em; width: 908px; border-collapse: collapse; "><thead><tr><th align="lef

[2017-03-15 12:41] pchernof commented on #97
function fancyAlert(arg) {
      if(arg) {
        $.facebox({div:'#foo'})
      }
    }
<div><table style="font-size: 1em; width: 908px; border-collapse: collapse; "><thead><tr><th align="left" style="width: 444px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(176, 176, 176); "></th><th

[2017-03-15 18:23] pchernof commented on #97
I think I figured it out, using 3x ` on each side. Is that clean enough to look at or?

[2017-03-16 18:57] Neftas commented on #97
Hi @pchernof, I see you had some fun here ;-)

I will investigate this issue.

[2017-03-16 18:57] #95 closed

[2017-04-01 17:29] pchernof commented on #97
```Cutaneous mycoses.<b>&nbsp;Tinea cruris</b><div><b><br /></b><div><b><div><table style="font-size: 1em; width: 1663px; border-collapse: collapse; "><thead><tr><th align="left" style="width: 822px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(176, 176, 176); "><span style="font-weight:

[2017-04-03 16:21] GitHubScreenName opened #98 "Question regarding Abbreviations on other platforms"
Please excuse if this is not the correct forum for general questions about the addon - I am new to this and there did not seem to be a listed way to contact you by email or any other addon page without creating an account. First of all, thanks so much for your work on such a great addon.

A question: will the special formatting that I use on Anki cards using your addon - specifically, the roll-ove

[2017-04-03 21:19] Juddd opened #99 "The button of Markdown is disappear"
I'm in latest version add-on.It's seem the button of Markdown is disappear?Look my screnshot
![](https://cloud.githubusercontent.com/assets/10048069/24632260/181a92f2-18f6-11e7-8e23-b8063b103a35.png)

[2017-04-04 05:02] Neftas commented on #98
You're welcome :)

They will show up the same way as with the add-on. This is because the add-on makes changes to the underlying HTML which are stored as your cards. There is no magic here: you can achieve everything the add-on does by changing the HTML yourself. Go ahead and press <kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>X</kbd> when editing a field and you will see the source code. The only thin

[2017-04-04 05:05] Neftas commented on #99
Hi @Juddd, you have to enable the Markdown button from the settings. Please have a look at the documentation (or just go to _Tools_ > _Power Format Pack add-on (options)_ > _Options..._ > _Markdown_ > _Enable Markdown_).

[2017-04-04 09:34] Juddd commented on #99
@Neftas Thanks for your response.

[2017-04-04 09:44] Juddd commented on #99
@Neftas Thanks for your response in time,the *Markdown* is very convenient to me.But it seem the shortcut ctrl+shift+0 doesn't work,I have to click that *Markdown button*.Could you help to fix it?and I can provide any *.log* file to you if necessity.

[2017-04-04 14:16] GitHubScreenName opened #100 "Horizontal rule shortcut and a number of buttons non-functional on Mac Anki 2.0.41"
Hi there - thanks again for your hard work on a wonderful app.
Using a Mac (OSX Yosemite), Anki 2.0.41. Many of the cards are "Type Answer" type.

•Horizontal rule shortcut (Command+Shift+Alt+_) (also tried Ctrl+H as listed on github page) does nothing, can only use by clicking on icon.

Some additional issues:
•Code, Blockquotes, Keyboard, Create a code block & Add a background color do not do an

[2017-04-04 17:37] Neftas commented on #100
Please read the documentation, most of your questions are answered there. Also, you haven't responded to my reply to your previous question in #98, where you asked some of the same questions. If anything is unclear after that, feel free to ask again.

[2017-04-04 17:39] Neftas commented on #99
You can manually [change the keybindings](https://github.com/Neftas/supplementary-buttons-anki#custom-user-defined-keybindings) to something that works for you.

[2017-04-11 10:36] MrTre opened #101 "Table stylesheet makes whole card a table?"
Hey guys,

sorry to bother you with something like this, but I'm not really a programmer. I tried to use CSS to style my tables just like you suggest, but I end up turning the whole card into an td cell. How does that come and how can I fix that?

`.card {
 font-family: Arial;
 font-size: 15px;
 text-align: left;
 color: black;
 background-color: white;
 overflow:visible;
}

td {
 padding: 0px;
 m

[2017-04-18 13:27] #100 closed

[2017-04-18 13:27] #98 closed

[2017-04-18 13:27] #99 closed

[2017-04-18 17:45] Neftas commented on #97
Hi @pchernof I've been trying to reproduce this issue, but I cannot really seem to break the tables. It would be helpful if you could isolate the actual steps to reproduce this. I know that you've tried to do this, but without actual steps to reproduce the problem I cannot begin to understand the issue. Thanks.

[2017-04-18 17:51] Neftas commented on #101
Hi @MrTre, you wrote a awful lot of CSS for someone who doesn't know what he's doing ;) However, this might not be the best place for you to ask such questions, since this is not actually a problem with the add-on. Also, my CSS skills are not that great :) You might be able to find help somewhere else, for example on StackOverflow, or ask just about anybody who is into front-end development. Good

[2017-04-18 17:51] #101 closed

[2017-04-18 18:04] #63 closed

[2017-04-19 12:24] #23 closed

[2017-04-19 12:25] #49 closed

[2017-04-19 12:25] #56 closed

[2017-04-19 12:26] #55 closed

[2017-04-19 12:42] Neftas commented on #80
Is this still an issue? This is what I get when I try to reproduce it:

![2017-04-19-144048_356x343_scrot](https://cloud.githubusercontent.com/assets/8035319/25180443/49485610-250e-11e7-9ffc-69e4e021d3c2.png)

[2017-04-19 12:43] Neftas commented on #84
@Juddd I'm sorry, but this bug report is completely unclear to me. I don't understand what the issue is.

[2017-04-25 14:51] munyari opened #102 "Anki 2.1 compatability"
This addon does not seem to be compatible with anki's updated plugin interface in versions >= 2.1.0

[2017-04-26 17:39] rcoelho opened #103 "Add the language name as a class to the main div"
Hi Stefan, thanks for Power Format Pack, it is awesome!

I'm using code highlighting and I'd like to style XML and Java attributes in different colors.
However, both use the class "na" (Name.Attribute) and there's no other way to differentiate them.

Would it be viable to get the language name, when defined, and add them as a class to the `<div class="codehilite">`, resulting in `<div class="codeh

[2017-04-27 18:02] Neftas commented on #102
Hi @munyari, you are right. This issue has previously been pointed out in #96. The Anki 2.1.x branch is currently in the alpha stage, so support is currently not provided. In fact, you'll find that most add-ons for
Anki won't work with 2.1.x. Eventually, when Anki 2.1 becomes stable, I will update this add-on and make it compatible. As far as I can tell, it involves mostly upgrading to Python 3.

[2017-04-27 18:12] Neftas commented on #103
@rcoelho I use `pygments` for the code generation. Although I think I can do what you want, it would probably involve me editing the `pygments` source code, or possibly writing a messy JavaScript solution without touching `pygments`, neither of which sound very appealing to me. I would suggest you turn this into a feature request for upstream.

[2017-04-27 18:17] rcoelho commented on #103
That makes sense. Thanks!

[2017-04-27 18:17] #103 closed

[2017-04-27 18:21] munyari commented on #102
Thanks for the response @Neftas. Closing in favor of #96

[2017-04-27 18:21] #102 closed

[2017-04-30 16:32] pchernof commented on #97
No worries Neftas, and I appreciate that you tried to figure it out. In the time since I last mentioned the issue, it hasn't come up a single time. So either it is very rare, or I have learned to not cut and paste tables sloppily (eg, accidentally missing part of the table or accidentally copying part of a cell + text then pasting into another table).

[2017-04-30 17:36] Neftas commented on #97
@pchernof Alright, I'll close the issue for now, then, let's hope it won't break again for you. Cheers.

[2017-04-30 17:36] #97 closed

[2017-05-05 03:05] russellsilva opened #104 "Fixed-width text for inline code and code blocks?"
When using an `inline code section` or a

[code]

the text is not displayed in a fixed width format. See screenshots. How can I get fixed width text for my inline code sections and code blocks?

![screenshot from 2017-05-04 20 02 40](https://cloud.githubusercontent.com/assets/350984/25732480/eaae65b0-3104-11e7-998b-3564edb95bcc.png)
![screenshot from 2017-05-04 20 03 15](https://cloud.githubuserco

[2017-05-08 20:36] Neftas commented on #104
Hi @russellsilva. I think by now you figured out that the a fixed-width font is actually used when you review the card (to see a preview of what the card might look like, press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>P</kbd> in the card browser).

The fact that you don't see a fixed-width font in the editor might be attributed to missing an appropriate fixed-width font on your system. I am using

[2017-05-13 19:47] Neftas commented on #57
This should be fixed in eac815a which is just published on AnkiWeb. Please update.

[2017-06-05 18:51] pchernof commented on #97
Ok I just encountered the table garbling again, and this time I know exactly what steps I did.

![selected table](https://cloud.githubusercontent.com/assets/22597581/26797256/7b545e6a-49e9-11e7-82c2-7cde219c07e4.jpg)

I made a table in a card, then I successfully pasted it into several cards (basic and cloze notes). The screenshot shows the table successfully pasted into the extra space (which was

[2017-06-05 18:55] pchernof commented on #97
'''D) HAV, HBV, influenza, PPSV23, and Tdap<br /><div><b><br /></b></div><div><table style="font-size: 1em; width: 100%; border-collapse: collapse;">
<thead>
<tr>
<th align="left" style="width: 33%; padding: 5px;border-bottom: 1px solid #B0B0B0"></th><th align="left" style="text-align: right;width: 33%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-bottom-wid

[2017-06-05 18:58] pchernof commented on #97
This is the HTML text of the extra field of the garbled cloze note:

[code]

[2017-06-05 19:15] pchernof commented on #97
UPDATE!

I just attempted to paste the table into the cloze that didn't work before (after I had restored the card to what it was before the garbling). If bold is left ON before the paste, it appears to work until you view another card in the browser - when you reselect the card to view it again, the garbling appears.

If the bold is turned OFF before the paste, it works, even after viewing anothe

[2017-06-06 09:12] jetkom opened #105 "Vertical alignment on top for tables?"
Hi!

First of all, thank you very much for your add-on. It has allowed me to make my cards quite a bit more beautiful, which helps me studying.

As this is a very personal thing though, I've been trying to tweak some things, with no success. My question is: how can I make the tables be aligned vertically on top by default?

I've tried editing the "tables.py" with partial success: I got the tables

[2017-06-07 18:14] Neftas commented on #97
Hi @pchernof, sorry to hear you have troubles again. I just noticed that you copy the tables to new card by selecting the visual representation of the table itself (the rendered table), instead of copying and pasting the source code. If you copy & paste the source code (by which I mean the HTML), these kind of issues would not occur. Could you try to see if this helps?

[2017-06-10 18:33] Neftas commented on #105
Hi @jetkom, editing the source code for making changes to styling is very, very fragile, because your changes will be gone every time you update the add-on. And even if you don't, you would be better off using the mechanism that was designed specifically for this type of use cases: CSS style sheets.

I'm sorry to hear that you did not have success creating a style sheet that fits your needs, but I

[2017-06-10 18:36] #89 closed

[2017-06-11 17:07] jetkom commented on #105
Thank you very much for your answer, I'll keep looking.  :-)

[2017-06-11 17:07] #105 closed

[2017-06-16 05:20] Juddd opened #106 "How to delete the border of the <span>?"
If I use your *Markdown* to create a code block like
[code]
I will get a result like
![](http://i.stack.imgur.com/NXEk1.png)

as the *HTML*,every Chinese character have a border like

 <span style="color: #a40000; border: 1px solid #ef2929">表</span>

How to delete those `border`？

[2017-06-23 20:10] Juddd opened #107 "report a bug"
I find the *Markdown* have some flaw in Androd client.This is my test card
[code]
It is can show normally in my PC client like

![](http://i.stack.imgur.com/hMV3m.png)

But it can not show normally render in Andriod client.

[2017-06-29 18:12] Neftas commented on #107
Hi @Juddd: I am not the developer of whatever Android client you are using. Therefore, I am not in a position to respond to bug reports. Please take this issue up with the developers from your Android client. (If you are using AnkiDroid: I've checked this myself, and bullet lists show up correctly).

[2017-06-29 18:12] #107 closed

[2017-06-29 18:15] Neftas commented on #106
@Juddd This is a known issue with Pygments, the Python library I'm using for syntax highlighting. Characters outside the ASCII range are considered errors by the parser, and get a red square around them. You can either changes your cards and include only ASCII in them, or open a bug report with the developers from Pygments.

[2017-06-29 18:15] #106 closed

[2017-07-05 21:00] byronaltice opened #108 "Could there be support for {{text:Variable}} ?"
I believe anki only allows one line input boxes when using this feature.

Could we have it allow multiline input? Example Card:

"Define a main class in java that prints "Hello" to the console"
<input>
public static void main(String args[]) {
   System.println("Hello")
}
</input>

 |
V

"Define a main class in java that prints "Hello" to the console"

public static void main(String args[]) {
   Sy

[2017-07-09 08:18] Neftas commented on #108
Hi @byronaltice thanks for your feature request. I am not completely sure if I understand it correctly. You want to have a bigger inputbox (something like a `<textarea>`) where you can put newlines, so that a text of arbitrary length gets checked by Anki, right?

[2017-07-09 08:19] byronaltice commented on #108
Correct

On Jul 9, 2017 4:18 AM, "Stefan van den Akker" <notifications@github.com>
wrote:

[2017-07-10 05:06] Juddd commented on #106
@Neftas Sorry for distub again, though this problem derive form the Pygments(as you see).I think there are some workaroun by your python code.You can change the

    <span style="color: #a40000; border: 1px solid #ef2929">字段</span>
into
    <span style="color: #a40000; border: 0px solid #ef2929">字段</span>

for any NON-ASCII characters and charater "#".Help please.It is very annoying for the a NON-

[2017-07-17 16:25] byronaltice commented on #87
I'm having some difficulty figuring out the css I need to be able to use a custom stylesheet here.
How do I see which classes I need to style?

Will my custom css be added to code blocks in this format?
[code]
[code]

[2017-07-17 16:56] byronaltice commented on #87
I think I figured it out? If you have a comment in the CSS style, anything after the comment does not apply, unless you put a {} at the end of the comment:

`
// Power format pack {}

.front .codehilite .nx { color: red; }
.back .codehilite .nx { color: red; }
`
the {} in the comment is required, the styling will not work without it

Is this intentional?

[2017-07-17 17:06] byronaltice commented on #87
I'm having some trouble figuring out how to apply custom styles...

The pygments documentation doesn't really say what classes apply to which elements.

I've figured out that .nx is keywords, and .c is comments, and .p is punctuation, but beyond that I'm not sure.

Do you have a map of the css classes to the code elements? Or am I missing something in the pygments documentation?

Thanks for all yo

[2017-07-19 06:09] Neftas commented on #87
This is what I found with a DuckDuckGo search:

[code]

But please, open a new ticket for your issues, instead of commenting on closed ones.

[2017-07-30 14:47] #84 closed

[2017-07-30 20:46] TheDemystifier opened #109 "Markdown unnecessarily inserts <p>"
Example :
Here's some text for markdown :
<pre>Here's the code :
[code]

[2017-07-31 05:33] Neftas commented on #109
@TheDemystifier [That's how Markdown works](https://daringfireball.net/projects/markdown/syntax#p). Every line of text is a paragraph, which you can end yourself by putting in an empty line. In this case, the code block forces the end of the paragraph.

[2017-07-31 10:43] #109 closed

[2017-08-02 10:21] TheDemystifier opened #110 "Markdown list indention not working properly"
Example :
Here's some text for markdown :
<pre>
- List-Item
[code]
</pre>
Here's what shows when I markdown it :
<img src="http://i.imgur.com/LbSEe08.png" />
This is what I expect :
<img src="http://i.imgur.com/5kCJBcG.png" />

If you markdown it using GitHub, it works :
<pre>
- List-Item
[code]
</pre>
↑=↓
- List-Item
[code]

[2017-08-03 18:17] Neftas commented on #110
@TheDemystifier You can use the alternative syntax for these cases, to be specific:

[code]

Please note that you have to indent the code block by 8 spaces, and that an empty line before and after the code block is required.

[2017-08-11 00:32] Yakiboi opened #111 "How to center the bullets and numbers?"
My only issue is when I use the bullets and numbers and I set the format to center, the words are on the center but the numbers and bullets are on the side. How do I fix this? I use Anki in my laptop and I am more comfortable when the cards are on the center of the screen. Thanks!

[2017-08-17 04:49] Neftas commented on #111
Hi @Yakiboi, thanks for taking the time to open a ticket. Could you maybe provide a screenshot of what is happening in your card, and what you would like to see happen instead?

For instance, should the bullet points not be aligned in the middle, but also "centered"? See [this JSFiddle](https://jsfiddle.net/fNFYr/25/) for example and tell me what you think.

[2017-08-19 14:04] TheDemystifier opened #112 "'Insert Blockquote' button not working properly with Lists"
_Here's my field content :_

paragraph
- list-item 1
quote
- list-item 2

_When I select `quote` and click 'Insert Blockquote', I expect it to become :_

paragraph
- list-item 1

- list-item 2

_But instead it becomes : _

paragraph
- list-item 1
    - > quote
- list-item 2

Take a look :
<img src="http://i.imgur.com/EDCKEJW.png" />

[2017-08-20 13:58] Neftas commented on #112
How did you create that first list (your very first example)? I can't really seem to reproduce it using the "create unordered list" button, unless you create two different lists and put the quote in between them and manually indent the quote by putting spaces in front of it.

Unless you used Markdown to create your first example, in which case it's not recommended that you mix it with the other fo

[2017-08-20 15:11] TheDemystifier commented on #112
Here's a <a href="https://www.youtube.com/watch?v=b8Olzf1gpUw">video</a> I recorded showing the exact steps.
and Here's the generated HTML code :
[code]

[2017-08-24 13:49] jellsni opened #113 "Customize ordered list types"
This add-on for anki is by far the most useful one. Still, I have one remaining request:
Is it possible to change the types of ordered lists? As in, e.g., I want to have one type like this:
aa)
bb)
cc)

and another one like that:
(1)
(2)
(3)

I tried experimenting with the .py files but the only thing I've achieved is the designation in the list selection window (by replacing A, 1, i etc. in the o

[2017-08-25 09:11] Neftas commented on #113
Hi @jellsni, thanks for the kind words.

I am afraid, however, that I have some bad news. Ordered lists in HTML are currently limited to the five types that are used in this add-on. You can read more about them [at MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol#attr-type).

If you have formatting wishes that go beyond those five, you may [want to give LaTeX a try](https://apps.a

[2017-08-25 09:57] Neftas commented on #112
@TheDemystifier Thanks for going through the trouble of making a video. I can reproduce the issue and am currently looking into ways to correct this.

[2017-08-25 12:26] Neftas commented on #112
@TheDemystifier I've just pushed a new branch with commit 432a7fb. Could you check that one out and test if this solves this issue for you? Thanks!

[2017-08-25 20:31] TheDemystifier commented on #112
Yes, just tested it, and it's working properly. Awesome! Thanks!

[2017-08-26 01:44] Yakiboi commented on #111
![anki bullets](https://user-images.githubusercontent.com/30914604/29737592-0f049ab4-8a43-11e7-8ca0-cada3ac0c4d1.png)

I really appreciate the reply! :) It looks like this.

[2017-08-26 18:33] Neftas commented on #41
Hi @glutanimate, in a recent release I have reworked the custom keyboard shortcuts. You can now change them from within Anki itself by going to _Tools > Power Format Pack add-on (options)... > Keybindings..._ It should now also be possible to assign Unicode keyboard shortcuts, but I haven't been able to do extensive testing on this. Could you possibly give this a try and tell me if that works for

[2017-08-27 16:41] glutanimate commented on #41
Hey @Neftas, thanks for letting me know! I've just had the chance to give the new version of PFP a trial run and it's working beautifully. Had no trouble at all to assign all of my favorite umlauts to different actions. Great job! I've pinned a comment on my video that advises users about this new feature (I would have set an annotation, but it looks like YouTube have dropped support for that).

A

[2017-08-28 17:41] Neftas commented on #112
Great, then it's going to be part of the next release :)

[2017-08-29 05:20] Neftas commented on #41
That's good to hear! And looking at the timestamp of this issue, it only took me two years to implement ;-)

When I first started with this add-on, I used another one ["Syntax Highlighting for Code"](https://ankiweb.net/shared/info/1463041493) for inspiration and as a cheat sheet. And more recently, I have also taken a look at your add-ons, and immediately found useful stuff that I hadn't even tho

[2017-08-31 05:40] ELLIOTTCABLE commented on #74
Hm. Could you pre-process-out cloze-deletions before passing the content to Pygments, then drop them back in exactly as they were typed? They have an extremely regular and simple syntax (notice how they break LaTeX!), so it should be pretty easy; that'd also give the user the precise behaviour they expect.

1. Input:

           :::markdown
           this *{{c1::should}}* work!

2. Post-processin

[2017-09-01 08:43] #41 closed

[2017-09-01 12:52] Neftas commented on #74
@ELLIOTTCABLE If I have some time, I will look into this. (I'm also willing to take a look at pull requests.)

Could you open a new ticket and mention this thread? Thanks.

[2017-09-17 18:28] dkats opened #114 "Pre-defined left margin in unordered lists"
## What is the problem?

Using the "Create unordered list" button inserts a list with a pre-defined left margin of 20px. Is there a way to get rid of this? That is, make the button insert `<ul><li><br /></li></ul>` instead of `<ul style="margin-left: 20px; "><li><br /></li></ul>`?

## How can we reproduce the problem?

The "Create unordered list" button inserts `<ul style="margin-left: 20px; "><li

[2017-09-19 07:38] Neftas commented on #114
@dkats Funnily enough, this is something that I changed (fixed) a couple of week ago and is already on the master branch, but not yet published on AnkiWeb. If you have the time (and know how to), could you grab the master branch and test if this works for you?

[2017-09-20 00:15] dkats commented on #114
Awesome. Thanks! I'm not sure how to Install it in Anki like that... Do you know when it'll be published?

[2017-10-13 14:39] Gru4 opened #115 "I need hide text"
It is very utiliy to hide explanions and to do short text, but it have explanions by I need it or for share it.
I use:
 <details><summary>EXPLANION TITLE</summary><div>

THE EXPENSIVE EXPLANION
</div></details>

but it is very slow work in html mode.
I will be very congratulation if you add a button to mark and hide the text, so the bold for example.
Thanks.
and sorry for my  english.

[2017-10-14 16:22] malore opened #116 "Some keyboard shortcuts not working"
I don't know if Power Format Pack is conflicting with other addons (I have AdvancedPreviewer, AnkiConnect, AwesomeTTS, Batch Note Editing, Hierarchical Tags, Image Occlusion Enhanced, ir Addon, Night Mode, Review Heatmap, Search and Replace Tag and Tag Toggler installed) but some keyboard shortcuts don't work. In particular the shortcuts for indenting or outdenting, making a horizontal rule, creat

[2017-10-14 16:46] Neftas commented on #116
Hi @malore, you can change the keyboard shortcuts for this add-on from within Anki itself. Go to _Tools > Power Format Pack (options) > Keybindings..._ and knock yourself out.

[2017-10-14 16:46] #116 closed

[2017-10-14 16:58] malore commented on #116
@Neftas I don't manage to do it. Wherever combination I press nothing happens.

[2017-10-14 17:01] Neftas commented on #116
@malore Have you read the documentation? You have to double-click the shortcut that you want to change, then you can enter a key combination.

[2017-10-14 17:14] malore commented on #116
@Neftas Thank you, I read documentation very quickly, actually. I found out the problem: these keybindings don't work with Italian keyboard. Thank you again.

[2017-10-15 06:47] Neftas commented on #116
@malore I'm glad you sorted it out.

[2017-10-15 06:54] Neftas commented on #115
Hi @Gru4 thanks for taking the time to make a feature request. This seems doable. I will probably pick this up some time in the future.

[2017-10-15 10:04] Gru4 commented on #115
Thanks very much.

[2017-11-30 15:45] Lawtron opened #117 "Possible feature: Changing the font size of text in a field?"
I really love this addon! Thanks for creating and maintaining it! It really makes Anki into a powerful and easy to use tool.

I'd like to suggest a feature: Changing the font size of text in a field.
It would be great if it was possible to change the font size within the same field, not just by creating different fields (which imho makes card design inflexible).

As a simple example:
Front of the

[2017-12-29 14:40] reinert commented on #114
I just reinstalled this add-on, and the problem persists.

[2017-12-31 15:57] QAMichaelPeng opened #118 "Html close tag render error while having pasted image."
## What is the problem?
Version: 0.8.8.3
Html close tag render error.

With the pasted image,
Without the pasted image, the render result of </div> will be </div>, which is good
## How can we reproduce the problem?

What were you doing when the problem occurred?

1. Put below content in a basic card
// begin
[code]
Below image caused the bug
![](paste-1.jpg)
// end

2. Press Command+Shift+0
3. the

[2018-01-04 19:19] Neftas commented on #118
@QAMichaelPeng I'm sorry, but it looks like some content of your issue are not rendering. Specifically, you seem to refer to images, but I cannot see them. Please upload them again and make sure this issue is complete.

Also, you are not using an old version of the add-on. Please update to the latest version and see if the problem persists.

[2018-01-04 19:29] Neftas commented on #117
@Lawtron thanks for making a feature request. Currently, I have little time to implement new features, but I will keep track of it in the issues list.

As a side note, you can already have small text in your cards, by just changing the HTML of the card.

[2018-01-15 23:43] chrahunt opened #120 "Support cloze deletion syntax in code blocks"
## What is the problem?

Cloze deletion syntax does not work inside code blocks

## How can we reproduce the problem?

1. With card type "Cloze", enter the following:
[code]
2. Format as markdown with UI button or keyboard shortcut
3. The resulting text had the cloze highlighted and on save it presented a warning stating that no cloze was found

## What was the expected behavior?

1. The cloze sho

[2018-01-22 07:03] gpbicego opened #121 "Change keybindings not work"
Change keybindings not work:

- Open 'Change keybindings'
- Change Keybinding for 'Unorder list' to 'Ctrl+.'
- In 'Browser' 'Add' select text and set unordered list using shortcut

[2018-04-23 13:32] ClassicLean opened #122 "Source code displaying incorrectly"
## What is the problem?
![1](https://user-images.githubusercontent.com/25625119/39129676-ab04d282-473d-11e8-850d-eab0fdccda0d.png)
Source code displaying incorrectly

## How can we reproduce the problem?

1. Create a card
2. Go to markdown mode
3. Type this:
    :::java
    public class Test { }

What were you doing when the problem occurred?

1. I tried to recreate it again
2. I tried using the c

[2018-04-28 16:33] Neftas commented on #122
You might want to first type your Markdown and only then convert it using the Markdown button. So:

0. Markdown mode is not active, so the background is not yellow.
1. Type your markdown, for example:

[code]
2. Click the Markdown button.
3. See something like this:

[code]

[2018-04-28 16:33] #122 closed

[2018-04-28 16:34] Neftas commented on #121
This is covered in the manual, but you probably figured that out by now :)

[2018-04-28 16:34] #121 closed

[2018-04-28 16:35] Neftas commented on #120
I currently have no intention to implement this, but if someone is willing to figure it out, I would certainly look at pull requests.

[2018-07-04 06:03] CarlosEvo commented on #96
Any progress on Anki 2.1 support? Its been out for quite a while... I am looking forward to it...

[2018-07-09 20:42] sudostack opened #124 "Unable to enable markdown"
## What is the problem?

I'm using Version 2.0.52 / Qt 4.8.2 PyQt 4.9.4 of Anki and I just downloaded this add-on using the code found on the add-on page.

I couldn't find the option to enable markdown under preferences at all. It looks like the add-on is auto-enabled as I see a set of new buttons in card editing mode, but I've tried using ticks and triple-colons for a code block in Python, but so

[2018-07-09 20:47] sudostack commented on #124
Spoke too soon. For anybody else that's lost trying to enable this on MacOS:
`Tools > Power Format Pack add-on (options) > Options > Markdown > Enable Markdown (checkbox)`

[2018-07-09 20:47] #124 closed

[2018-07-17 12:45] lukaskawerau commented on #96
Yes, is there any progress? Anki 2.1 has now been in Beta for a while, would be great if there would be an update soon :)

[2018-07-17 17:00] Neftas commented on #96
@CarlosEvo @lukaskawerau there is currently no work being done to make this
add-on compatible with Anki 2.1. In theory, it should not be too difficult,
but I currently don't have any time to work on it.

Also, I feel that the code could use a major update from what it is right now.
I've been working on this add-on from when I just learned to code, and there
are a lot of areas that I feel could use

[2018-07-20 09:24] mattepiu commented on #96
2to3 script will do the most of the work, changing code wherever it can and marking where it cannot.
https://docs.python.org/3/library/2to3.html

[2018-07-22 17:34] Neftas commented on #96
@mattepiu Thanks, I did something similar some time ago, but the dependencies that are included with Power Format Pack should also be updated to Python 3. Just running the 2to3 script will be a poor solution to upgrading those dependencies. (The 2to3 script leaves a lot of broken code. That means that I have to dive into why the code is broken, leading me to read articles about what changed in Pyt

[2018-08-03 09:46] chuanzz opened #126 "How to edit the table?"
Sometimes I need to edit the table after adding a card.
such as add a row or column..
Can the table form be reformatted to the text form?

[2018-08-05 16:42] Neftas commented on #126
You can if you use Markdown. See also #49

[2018-08-05 16:42] #126 closed

[2018-08-05 17:58] chuanzz commented on #126
gotcha
thx!

[2018-08-17 14:35] glutanimate commented on #96
Having ported quite a few add-ons now, I can confirm what Stefan said: Although scripts like 2to3 or pyqt4topyqt5 really do help, there still is a lot of manual work involved in porting an add-on as complex as PFP to 2.1.

If anyone is interested in tackling this, I've recently released a highly cut-down version of PFP called [Mini Format Pack](https://github.com/glutanimate/mini-format-pack/) ([A